<!-- Modal History -->
<div class="modal fade" id="ModalHistory" tabindex="-1" aria-labelledby="ModalHistoryLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form id="frmHistoryProfile">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalHistoryLabel">History Log</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="divHistoryModal" style="padding:20px;">
                    THIS IS HISTORY LOG.
                </div>
                <div class="modal-footer" style="padding-left:25px; padding-right:25px;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>