<!-- Modal List of Values -->
<div class="modal fade" id="ModalLOV" tabindex="-1" aria-labelledby="ModalLOVLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="frmModalLOV">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLOVLabel">List of values</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <table id="_tblLOV" class="display" style="width:100%"></table>

                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*<!-- Modal List of Values -->
<div class="modal fade" id="ModalLOV" tabindex="-1" aria-labelledby="ModalLOVLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="frmModalLOV">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLOVLabel">List of values</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <input type="hidden" class="form-control" id="_ID" name="_ID">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="txtResetUserName" name="txtResetUserName" placeholder="Username" readonly>
                                <label for="inputCode">Code</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" readonly>
                                <label for="inputEmail">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>*@