<!-- Modal Password -->
<div class="modal fade" id="ModalUserPassword" tabindex="-1" aria-labelledby="ModalUserPasswordLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="frmModalUserPassword">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalUserProfileLabel">Your Profile (Password)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <input type="hidden" class="form-control" id="_ID" name="_ID" value="3">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="txtResetUserName" name="txtResetUserName" placeholder="Username" value="20223983" readonly>
                                <label for="inputCode">Code</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="Prachaya_C@hinothailand.com" readonly>
                                <label for="inputEmail">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-2">
                            <span style="margin-left:20px;color:red;">Procedures to change password will be sent to registered email. Press &quot;Send&quot; to proceed to next step.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding-left:25px; padding-right:25px;">
                    <button type="button" class="btn btn-primary" onclick="onChangePassword();">Send</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>