@using System.Security.Claims
@{
    var Menulist = User.Claims.Where(x => x.Type == "Menu").Select(x=>x.Value).ToList();
    //Console.WriteLine(Menulist);
}
@{
    <ul b-av83myn3tf="" class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">

        @if (Menulist.Contains("KBNIM000"))
        {
            <li id="KBNIM000" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon">
                        <svg class="svg-inline--fa fa-upload" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                            </path></svg>
                    </span>
                    <span class="pcoded-mtext">Import Data</span>
                </a>

                <ul class="pcoded-submenu">

                    @if (Menulist.Contains("KBNIM000EK"))
                    {
                        <li id="KBNIM000EK" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">E-KANBAN and MSP Data</span>
                            </a>

                            <ul class="pcoded-submenu">

                                @if (Menulist.Contains("KBNIM003"))
                                {
                                    <li class="" id="KBNIM003">
                                        <a asp-controller="MSPData" asp-action="KBNIM003">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import E-KANBAN and MSP</span>
                                        </a>
                                    </li>
                                }

                                @if (Menulist.Contains("KBNIM003M"))
                                {
                                    <li class="" id="KBNIM003M">
                                        <a asp-controller="MSPData" asp-action="KBNIM003M">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Data</span>
                                        </a>
                                    </li>
                                }

                                @if (Menulist.Contains("KBNIM003C"))
                                {
                                    <li class="" id="KBNIM003C">
                                        <a asp-controller="MSPData" asp-action="KBNIM003C">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Confirmation E-KANBAN and MSP</span>
                                        </a>
                                    </li>
                                }

                                @if (Menulist.Contains("KBNIM003CP"))
                                {
                                    <li class="" id="KBNIM003CP">
                                        <a asp-controller="MSPData" asp-action="KBNIM003CP">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Copy Order</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM003S"))
                                {
                                    <li class="" id="KBNIM003S">
                                        <a asp-controller="MSPData" asp-action="KBNIM003S">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import Slide Order</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNIM000VL"))
                    {
                        <li id="KBNIM000VL" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">VLT Data</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNIM004"))
                                {
                                    <li class="" id="KBNIM004">
                                        <a asp-controller="VLTData" asp-action="KBNIM004">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import VLT</span>
                                        </a>
                                    </li>
                                }
                                @*<li class="" id="KBNIM004M">
                                    <a asp-controller="VLTData" asp-action="KBNIM004M">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Data</span>
                                    </a>
                                </li>*@
                                @if (Menulist.Contains("KBNIM0044"))
                                {
                                    <li class="" id="KBNIM0044">
                                        <a asp-controller="VLTData" asp-action="KBNIM0044">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import VHD</span>
                                        </a>
                                    </li>
                                }
                                    @*
                                        <li class="" id="KBNIM0043">
                                            <a asp-controller="VLTData" asp-action="KBNIM0043">
                                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                                <span class="pcoded-mtext" style="font-size:0.8rem;">Delete Jig-In Seq</span>
                                            </a>
                                        </li>*@
                                @if (Menulist.Contains("KBNIM0042"))
                                {
                                    <li class="" id="KBNIM0042">
                                        <a asp-controller="VLTData" asp-action="KBNIM0042">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Confirmation Jig-In Seq</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNIM000S"))
                    {
                        <li id="KBNIM000S" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Service Data</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNIM001"))
                                {
                                    <li class="" id="KBNIM001">
                                        <a asp-controller="ServiceData" asp-action="KBNIM001">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import Service Data</span>
                                        </a>
                                    </li>
                                }
                                @*
                                <li class="" id="KBNIM001M">
                                    <a asp-controller="ServiceData" asp-action="KBNIM001M">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Data Service</span>
                                    </a>
                                </li>*@
                                @if (Menulist.Contains("KBNIM001C"))
                                {
                                    <li class="" id="KBNIM001C">
                                        <a asp-controller="ServiceData" asp-action="KBNIM001C">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm Service by PDS</span>
                                        </a>
                                    </li>
                                }
                                @*
                                <li class="" id="KBNIM001O">
                                    <a asp-controller="ServiceData" asp-action="KBNIM001O">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Old Part Import</span>
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                    }
                    @*
                    <li id="KBNIM000V" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext">V-V Data</span>
                        </a>

                        <ul class="pcoded-submenu">
                            <li class="" id="KBNIM002">
                                <a asp-controller="V2VData" asp-action="KBNIM002">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Import V2V Data</span>
                                </a>
                            </li>
                            <li class="" id="KBNIM002M">
                                <a asp-controller="V2VData" asp-action="KBNIM002M">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Data V2V</span>
                                </a>
                            </li>
                            <li class="" id="KBNIM002C">
                                <a asp-controller="V2VData" asp-action="KBNIM002C">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm V2V by PDS</span>
                                </a>
                            </li>
                            <li class="" id="KBNIM002TR">
                                <a asp-controller="V2VData" asp-action="KBNIM002TR">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Transfer Data</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    *@
                    @if (Menulist.Contains("KBNIM001C"))
                    {
                        <li id="KBNIM000EM" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Emergency Data</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNIM006"))
                                {
                                    <li class="" id="KBNIM006">
                                        <a asp-controller="EmergencyData" asp-action="KBNIM006">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import Emergency Data</span>
                                        </a>
                                    </li>
                                }
                                @*
                                <li class="" id="KBNIM006M">
                                    <a asp-controller="EmergencyData" asp-action="KBNIM006M">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Emergency Data</span>
                                    </a>
                                </li>
                                <li class="" id="KBNIM006C">
                                    <a asp-controller="EmergencyData" asp-action="KBNIM006C">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm Emergency Data</span>
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNIM000MF"))
                    {
                        <li id="KBNIM000MF" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Monthly Forecast Data</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNIM012"))
                                {
                                    <li class="" id="KBNIM012">
                                        <a asp-controller="MonthlyForcast" asp-action="KBNIM012">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import Monthly Forecast Data</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM012M"))
                                {
                                    <li class="" id="KBNIM012M">
                                        <a asp-controller="MonthlyForcast" asp-action="KBNIM012M">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Maintenance Monthly Forecast Data</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNIM000U"))
                    {
                        <li id="KBNIM000U" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Urgent Order</span>
                            </a>
                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNIM007N"))
                                {
                                    <li class="" id="KBNIM007N">
                                        <a asp-controller="UrgentOrder" asp-action="KBNIM007N">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Urgent Data</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM014"))
                                {
                                    <li class="" id="KBNIM014">
                                        <a asp-controller="UrgentOrder" asp-action="KBNIM014">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Direct Supply</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM014SRV"))
                                {
                                    <li class="" id="KBNIM014SRV">
                                        <a asp-controller="UrgentOrder" asp-action="KBNIM014SRV">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Direct Service</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM014C"))
                                {
                                    <li class="" id="KBNIM014C">
                                        <a asp-controller="UrgentOrder" asp-action="KBNIM014C">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm Urgent Data</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM017R"))
                                {
                                    <li class="" id="KBNIM017R">
                                        <a asp-controller="UrgentOrder" asp-action="KBNIM017R">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import Truck Order</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNIM013_INV"))
                                {
                                    <li class="" id="KBNIM013_INV">
                                        <a asp-controller="UrgentOrder" asp-action="KBNIM013_INV">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">DECLARE INVENTORY</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNIM000SP"))
                    {
                        <li id="KBNIM000SP" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Special Data</span>
                            </a>
                            <ul class="pcoded-submenu">
                            @if (Menulist.Contains("KBNIM007"))
                            {
                                <li class="" id="KBNIM007">
                                    <a asp-controller="SpecialData" asp-action="KBNIM007">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Special Order</span>
                                    </a>
                                </li>
                            }
                            @if (Menulist.Contains("KBNIM007T"))
                            {
                                <li class="" id="KBNIM007T">
                                    <a asp-controller="SpecialData" asp-action="KBNIM007T">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Trial Order</span>
                                    </a>
                                </li>
                            }
                                @if (Menulist.Contains("KBNIM007C"))
                            {
                                <li class="" id="KBNIM007C">
                                    <a asp-controller="SpecialData" asp-action="KBNIM007C">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm Special by PO</span>
                                    </a>
                                </li>
                            }
                                @*
                            <li class="" id="KBNIM007TSR">
                                <a asp-controller="SpecialData" asp-action="KBNIM007TSR">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Service Tacoma Order</span>
                                </a>
                            </li>*@
                            </ul>
                        </li>
                    }
                    @*
                    <li id="KBNIM000T" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext">Tacoma Order</span>
                        </a>

                        <ul class="pcoded-submenu">
                            <li class="" id="KBNIM015">
                                <a asp-controller="TacomaOrder" asp-action="KBNIM015">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Generate Order</span>
                                </a>
                            </li>
                            <li class="" id="KBNIM015M">
                                <a asp-controller="TacomaOrder" asp-action="KBNIM015M">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">MRP</span>
                                </a>
                            </li>
                            <li class="" id="KBNIM015C">
                                <a asp-controller="TacomaOrder" asp-action="KBNIM015C">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm MRP</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    *@
                    @if (Menulist.Contains("KBNIM010"))
                    {
                        <li class="" id="KBNIM010">
                            <a asp-controller="Import" asp-action="KBNIM010">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Confirm All Import Data</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNMS000"))
        {
            <li id="KBNMS000" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><svg class="svg-inline--fa fa-database" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="database" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z"></path></svg><!-- <i class="fas fa-database"></i> Font Awesome fontawesome.com --></span>
                    <span class="pcoded-mtext">Master Data</span>
                </a>
                <ul class="pcoded-submenu">
                    @*
                    <li id="KBNMS000SER" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext">Service parts</span>
                        </a>

                        <ul class="pcoded-submenu">
                            <li class="" id="KBNMS001">
                                <a asp-controller="Master" asp-action="KBNMS001">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Order Type Master Service</span>
                                </a>
                            </li>
                            <li class="" id="KBNMS002">
                                <a asp-controller="Master" asp-action="KBNMS002">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Old Part</span>
                                </a>
                            </li>
                            <li class="" id="KBNMS003">
                                <a asp-controller="Master" asp-action="KBNMS003">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Part Set</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    *@
                    @if (Menulist.Contains("KBNMS000SP"))
                    {
                        <li id="KBNMS000SP" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Special part</span>
                            </a>

                            @if (Menulist.Contains("KBNMS004"))
                            {
                                <ul class="pcoded-submenu">
                                    <li class="" id="KBNMS004">
                                        <a asp-controller="Master" asp-action="KBNMS004">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Type Special</span>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </li>
                    }
                    @if (Menulist.Contains("KBNMS000M"))
                    {
                        <li id="KBNMS000M" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Main set</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNMS005"))
                                {
                                    <li class="" id="KBNMS005">
                                        <a asp-controller="Master" asp-action="KBNMS005">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Daily Balance</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS005S"))
                                {
                                    <li class="" id="KBNMS005S">
                                        <a asp-controller="Master" asp-action="KBNMS005S">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Set Stock Balance</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS006"))
                                {
                                    <li class="" id="KBNMS006">
                                        <a asp-controller="Master" asp-action="KBNMS006">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Kanban Maintenance</span>
                                        </a>
                                    </li>
                                }

                                @if (Menulist.Contains("KBNMS007"))
                                {
                                    <li class="" id="KBNMS007">
                                        <a asp-controller="Master" asp-action="KBNMS007">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Kanban Add</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS008"))
                                {
                                    <li class="" id="KBNMS008">
                                        <a asp-controller="Master" asp-action="KBNMS008">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Pattern Ordering</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS009"))
                                {
                                    <li class="" id="KBNMS009">
                                        <a asp-controller="Master" asp-action="KBNMS009">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Print Replace Kanban</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS010"))
                                {
                                    <li class="" id="KBNMS010">
                                        <a asp-controller="Master" asp-action="KBNMS010">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Calendar</span>
                                        </a>
                                    </li>
                                }
                                @*<li class="" id="KBNMS011">
                                        <a asp-controller="Master" asp-action="KBNMS011">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Supplier Calendar</span>
                                        </a>
                                    </li>*@
                                @if (Menulist.Contains("KBNMS012"))
                                {
                                    <li class="" id="KBNMS012">
                                        <a asp-controller="Master" asp-action="KBNMS012">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Kanban Order Table</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS013"))
                                {
                                    <li class="" id="KBNMS013">
                                        <a asp-controller="Master" asp-action="KBNMS013">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Type Part</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS014"))
                                {
                                    <li class="" id="KBNMS014">
                                        <a asp-controller="Master" asp-action="KBNMS014">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Print Kanban</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS015"))
                                {
                                    <li class="" id="KBNMS015">
                                        <a asp-controller="Master" asp-action="KBNMS015">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Label Master</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS016"))
                                {
                                    <li class="" id="KBNMS016">
                                        <a asp-controller="Master" asp-action="KBNMS016">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Pair Order</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS017"))
                                {
                                    <li class="" id="KBNMS017">
                                        <a asp-controller="Master" asp-action="KBNMS017">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Ratio Address</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS018"))
                                {
                                    <li class="" id="KBNMS018">
                                        <a asp-controller="Master" asp-action="KBNMS018">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Heijunka</span>
                                        </a>
                                    </li>
                                    }
                                @if (Menulist.Contains("KBNMS019"))
                                {
                                    <li class="" id="KBNMS019">
                                        <a asp-controller="Master" asp-action="KBNMS019">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Max Delivery</span>
                                        </a>
                                    </li>
                                    }
                                @if (Menulist.Contains("KBNMS020"))
                                {
                                    <li class="" id="KBNMS020">
                                        <a asp-controller="Master" asp-action="KBNMS020">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Max Area Stock</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS021"))
                                {
                                <li class="" id="KBNMS021">
                                        <a asp-controller="Master" asp-action="KBNMS021">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Part Code</span>
                                        </a>
                                    </li>
                                    }
                                @if (Menulist.Contains("KBNMS030"))
                                {
                                    <li class="" id="KBNMS030">
                                        <a asp-controller="Master" asp-action="KBNMS030">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Line Code Master</span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNMS000LS"))
                    {
                        <li id="KBNMS000LS" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Logistics set</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNMS022"))
                                {
                                    <li class="" id="KBNMS022">
                                        <a asp-controller="Master" asp-action="KBNMS022">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Delivery Time</span>
                                        </a>
                                    </li>
                                }
                                @*<li class="" id="KBNMS023">
                                <a asp-controller="Master" asp-action="KBNMS023">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Package</span>
                                </a>
                                </li>
                                <li class="" id="KBNMS024">
                                    <a asp-controller="Master" asp-action="KBNMS024">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Part Package</span>
                                    </a>
                                </li>*@
                                @if (Menulist.Contains("KBNMS025"))
                                {
                                    <li class="" id="KBNMS025">
                                        <a asp-controller="Master" asp-action="KBNMS025">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Logistic Supplier</span>
                                        </a>
                                    </li>
                                }
                                @*
                            <li class="" id="KBNMS026">
                                <a asp-controller="Master" asp-action="KBNMS026">
                                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                    <span class="pcoded-mtext" style="font-size:0.8rem;">Route Master</span>
                                </a>
                            </li>*@
                                @if (Menulist.Contains("KBNMS027"))
                                {
                                    <li class="" id="KBNMS027">
                                        <a asp-controller="Master" asp-action="KBNMS027">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Matching Supplier Logistic</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS028"))
                                {
                                    <li class="" id="KBNMS028">
                                        <a asp-controller="Master" asp-action="KBNMS028">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Remark Doc Sheet</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNMS029"))
                                {
                                    <li class="" id="KBNMS029">
                                        <a asp-controller="Master" asp-action="KBNMS029">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Dock Code</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNOR000"))
        {
            <li id="KBNOR000" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                <span class="pcoded-micon"><svg class="svg-inline--fa fa-bolt" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bolt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M349.4 44.6c5.9-13.7 1.5-29.7-10.6-38.5s-28.6-8-39.9 1.8l-256 224c-10 8.8-13.6 22.9-8.9 35.3S50.7 288 64 288H175.5L98.6 467.4c-5.9 13.7-1.5 29.7 10.6 38.5s28.6 8 39.9-1.8l256-224c10-8.8 13.6-22.9 8.9-35.3s-16.6-20.7-30-20.7H272.5L349.4 44.6z"></path></svg><!-- <i class="fas fa-bolt"></i> Font Awesome fontawesome.com --></span>
                <span class="pcoded-mtext">Ordering Process</span>
            </a>

                <ul class="pcoded-submenu">
                    @if (Menulist.Contains("KBNOR100"))
                    {
                        <li class="" id="KBNOR100">
                            <a asp-controller="OrderingProcess" asp-action="KBNOR100">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Normal Ordering</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNOR200"))
                    {
                        <li class="" id="KBNOR200">
                            <a asp-controller="OrderingProcess" asp-action="KBNOR200">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Special Ordering</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNOR400"))
                    {
                    <li class="" id="KBNOR400">
                        <a asp-controller="OrderingProcess" asp-action="KBNOR400">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Urgent Ordering</span>
                        </a>
                    </li>
                    }
                    @if (Menulist.Contains("KBNOR300"))
                    {
                        <li class="" id="KBNOR300">
                            <a asp-controller="OrderingProcess" asp-action="KBNOR300">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">CKD-InHouse Ordering</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNOR600"))
                    {
                        <li class="" id="KBNOR600">
                            <a asp-controller="OrderingProcess" asp-action="KBNOR600">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Delete PDS</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNOR700"))
                    {
                        <li class="" id="KBNOR700">
                            <a asp-controller="OrderingProcess" asp-action="KBNOR700">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Re-Print PDS and Kanban</span>
                            </a>
                        </li>
                    }
                    @* <li class="" id="KBNOR710">
                        <a asp-controller="OrderingProcess" asp-action="KBNOR710">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Re-Print PDS and Kanban for CKD</span>
                        </a>
                    </li> *@
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNRC100"))
        {
            <li id="KBNRC100" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><svg class="svg-inline--fa fa-truck-ramp-box" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="truck-ramp-box" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M640 0V400c0 61.9-50.1 112-112 112c-61 0-110.5-48.7-112-109.3L48.4 502.9c-17.1 4.6-34.6-5.4-39.3-22.5s5.4-34.6 22.5-39.3L352 353.8V64c0-35.3 28.7-64 64-64H640zM576 400a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM23.1 207.7c-4.6-17.1 5.6-34.6 22.6-39.2l46.4-12.4 20.7 77.3c2.3 8.5 11.1 13.6 19.6 11.3l30.9-8.3c8.5-2.3 13.6-11.1 11.3-19.6l-20.7-77.3 46.4-12.4c17.1-4.6 34.6 5.6 39.2 22.6l41.4 154.5c4.6 17.1-5.6 34.6-22.6 39.2L103.7 384.9c-17.1 4.6-34.6-5.6-39.2-22.6L23.1 207.7z"></path></svg><!-- <i class="fas fa-truck-loading"></i> Font Awesome fontawesome.com --></span>
                    <span class="pcoded-mtext">Receive Process</span>
                </a>

                <ul class="pcoded-submenu">
                    @if (Menulist.Contains("KBNRC100ST"))
                    {
                        <li id="KBNRC100ST" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Select Transaction</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNRC110"))
                                {
                                <li class="" id="KBNRC110">
                                    <a asp-controller="ReceiveProcess" asp-action="KBNRC110">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Receive Part all</span>
                                    </a>
                                </li>
                                }
                                @if (Menulist.Contains("KBNRC120"))
                                {
                                    <li class="" id="KBNRC120">
                                        <a asp-controller="ReceiveProcess" asp-action="KBNRC120">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Receive Separate Part</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNRC210"))
                                {
                                    <li class="" id="KBNRC210">
                                        <a asp-controller="ReceiveProcess" asp-action="KBNRC210">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Receive Special Part</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRC100SR"))
                    {
                        <li id="KBNRC100SR" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext">Select Report</span>
                            </a>

                            <ul class="pcoded-submenu">
                                @if (Menulist.Contains("KBNRC130"))
                                {
                                <li class="" id="KBNRC130">
                                    <a asp-controller="ReceiveProcess" asp-action="KBNRC130">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Daily Receive Report</span>
                                    </a>
                                </li>
                                }
                                @if (Menulist.Contains("KBNRC140"))
                                {
                                    <li class="" id="KBNRC140">
                                        <a asp-controller="ReceiveProcess" asp-action="KBNRC140">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Daily Not Receive Report</span>
                                        </a>
                                    </li>
                                }
                                @if (Menulist.Contains("KBNRC150"))
                                {
                                <li class="" id="KBNRC150">
                                    <a asp-controller="ReceiveProcess" asp-action="KBNRC150">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Summary Receive Report</span>
                                    </a>
                                </li>
                                }
                                @if (Menulist.Contains("KBNRC160"))
                                {
                                <li class="" id="KBNRC160">
                                    <a asp-controller="ReceiveProcess" asp-action="KBNRC160">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext" style="font-size:0.8rem;">Summary Remain Report</span>
                                    </a>
                                </li>
                                }
                                @if (Menulist.Contains("KBNRC220"))
                                {
                                    <li class="" id="KBNRC220">
                                        <a asp-controller="ReceiveProcess" asp-action="KBNRC220">
                                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                            <span class="pcoded-mtext" style="font-size:0.8rem;">Status Receive Special Report</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNOC100"))
        {
            <li id="KBNOC100" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><svg class="svg-inline--fa fa-indent" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="indent" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 64C0 46.3 14.3 32 32 32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64zM192 192c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H224c-17.7 0-32-14.3-32-32zm32 96H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H224c-17.7 0-32-14.3-32-32s14.3-32 32-32zM0 448c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM127.8 268.6L25.8 347.9C15.3 356.1 0 348.6 0 335.3V176.7c0-13.3 15.3-20.8 25.8-12.6l101.9 79.3c8.2 6.4 8.2 18.9 0 25.3z"></path></svg><!-- <i class="fas fa-indent"></i> Font Awesome fontawesome.com --></span>
                    <span class="pcoded-mtext">Others Condition</span>
                </a>

                <ul class="pcoded-submenu">
                    @*
                    <li class="" id="KBNOC110">
                        <a asp-controller="OthersCondition" asp-action="KBNOC110">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">1.Checking Cycle Time</span>
                        </a>
                    </li>*@
                    @if (Menulist.Contains("KBNOC120"))
                    {
                        <li class="" id="KBNOC120">
                            <a asp-controller="OthersCondition" asp-action="KBNOC120">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Slide Order by Supplier</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNOC121"))
                    {
                        <li class="" id="KBNOC121">
                            <a asp-controller="OthersCondition" asp-action="KBNOC121">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Slide Order by Part No.</span>
                            </a>
                        </li>
                    }
                    @*
                    <li class="" id="KBNOC140">
                        <a asp-controller="OthersCondition" asp-action="KBNOC140">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">4.Generate New PDS by Old PDS</span>
                        </a>
                    </li>*@
                    @if (Menulist.Contains("KBNOC150"))
                    {
                        <li class="" id="KBNOC150">
                            <a asp-controller="OthersCondition" asp-action="KBNOC150">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Least Order List</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNOC160"))
                    {
                        <li class="" id="KBNOC160">
                            <a asp-controller="OthersCondition" asp-action="KBNOC160">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Kanban Urgent Order List</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNLC100"))
        {
            <li id="KBNLC100" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><svg class="svg-inline--fa fa-truck-moving" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="truck-moving" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M64 32C28.7 32 0 60.7 0 96V304v80 16c0 44.2 35.8 80 80 80c26.2 0 49.4-12.6 64-32c14.6 19.4 37.8 32 64 32c44.2 0 80-35.8 80-80c0-5.5-.6-10.8-1.6-16H416h33.6c-1 5.2-1.6 10.5-1.6 16c0 44.2 35.8 80 80 80s80-35.8 80-80c0-5.5-.6-10.8-1.6-16H608c17.7 0 32-14.3 32-32V288 272 261.7c0-9.2-3.2-18.2-9-25.3l-58.8-71.8c-10.6-13-26.5-20.5-43.3-20.5H480V96c0-35.3-28.7-64-64-64H64zM585 256H480V192h48.8c2.4 0 4.7 1.1 6.2 2.9L585 256zM528 368a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM176 400a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM80 368a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"></path></svg><!-- <i class="fas fa-truck-moving"></i> Font Awesome fontawesome.com --></span>
                    <span class="pcoded-mtext">Logistic Condition</span>
                </a>

                <ul class="pcoded-submenu">
                    @if (Menulist.Contains("KBNLC150"))
                    {
                    <li class="" id="KBNLC150">
                        <a asp-controller="LogisticCondition" asp-action="KBNLC150">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Import Delivery Time Table</span>
                        </a>
                    </li>
                    }
                    @if (Menulist.Contains("KBNLC180"))
                    {
                    <li class="" id="KBNLC180">
                        <a asp-controller="LogisticCondition" asp-action="KBNLC180">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Print Dock Sheet and Truck Card</span>
                        </a>
                    </li>
                    }
                    @if (Menulist.Contains("KBNLC190"))
                    {
                    <li class="" id="KBNLC190">
                        <a asp-controller="LogisticCondition" asp-action="KBNLC190">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Interface Cycle Time to Delivery Time</span>
                        </a>
                    </li>
                    }
                    @if (Menulist.Contains("KBNLC200"))
                    {
                        <li class="" id="KBNLC200">
                            <a asp-controller="LogisticCondition" asp-action="KBNLC200">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">History Delivery Time Report</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNRT100"))
        {
            <li id="KBNRT100" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><svg class="svg-inline--fa fa-scroll" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="scroll" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M0 80v48c0 17.7 14.3 32 32 32H48 96V80c0-26.5-21.5-48-48-48S0 53.5 0 80zM112 32c10 13.4 16 30 16 48V384c0 35.3 28.7 64 64 64s64-28.7 64-64v-5.3c0-32.4 26.3-58.7 58.7-58.7H480V128c0-53-43-96-96-96H112zM464 480c61.9 0 112-50.1 112-112c0-8.8-7.2-16-16-16H314.7c-14.7 0-26.7 11.9-26.7 26.7V384c0 53-43 96-96 96H368h96z"></path></svg><!-- <i class="fas fa-scroll"></i> Font Awesome fontawesome.com --></span>
                    <span class="pcoded-mtext">Order Report</span>
                </a>

                <ul class="pcoded-submenu">
                    @if (Menulist.Contains("KBNRT110"))
                    {
                        <li class="" id="KBNRT110">
                            <a asp-controller="OrderReport" asp-action="KBNRT110">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Delivery Timing Round Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT120"))
                    {
                        <li class="" id="KBNRT120">
                            <a asp-controller="OrderReport" asp-action="KBNRT120">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Kanban Master Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT130"))
                    {
                        <li class="" id="KBNRT130">
                            <a asp-controller="OrderReport" asp-action="KBNRT130">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Supplier Calendar Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT140"))
                    {
                        <li class="" id="KBNRT140">
                            <a asp-controller="OrderReport" asp-action="KBNRT140">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Calendar Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT150"))
                    {
                        <li class="" id="KBNRT150">
                            <a asp-controller="OrderReport" asp-action="KBNRT150">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Import Order Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT160"))
                    {
                        <li class="" id="KBNRT160">
                            <a asp-controller="OrderReport" asp-action="KBNRT160">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Kanban Order History</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT170"))
                    {
                        <li class="" id="KBNRT170">
                            <a asp-controller="OrderReport" asp-action="KBNRT170">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Delivery Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT180"))
                    {
                        <li class="" id="KBNRT180">
                            <a asp-controller="OrderReport" asp-action="KBNRT180">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Zero Order History</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT190"))
                    {
                        <li class="" id="KBNRT190">
                            <a asp-controller="OrderReport" asp-action="KBNRT190">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">PDS History List</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT200"))
                    {
                        <li class="" id="KBNRT200">
                            <a asp-controller="OrderReport" asp-action="KBNRT200">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Late Delivery</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT210"))
                    {
                    <li class="" id="KBNRT210">
                        <a asp-controller="OrderReport" asp-action="KBNRT210">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Inquiry Kanban Order</span>
                        </a>
                    </li>
                    }
                    @if (Menulist.Contains("KBNRT220"))
                    {
                        <li class="" id="KBNRT220">
                            <a asp-controller="OrderReport" asp-action="KBNRT220">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Stock Of Planning Kanban</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT230"))
                    {
                    <li class="" id="KBNRT230">
                        <a asp-controller="OrderReport" asp-action="KBNRT230">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext" style="font-size:0.8rem;">Sequence Order Report</span>
                        </a>
                    </li>
                    }
                    @if (Menulist.Contains("KBNRT240"))
                    {
                        <li class="" id="KBNRT240">
                            <a asp-controller="OrderReport" asp-action="KBNRT240">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Special Order Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT250"))
                    {
                        <li class="" id="KBNRT250">
                            <a asp-controller="OrderReport" asp-action="KBNRT250">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">VLT Data Interface Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT026"))
                    {
                        <li class="" id=" KBNRT026">
                            <a asp-controller="OrderReport" asp-action="KBNRT026">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">AbNormal Forecast Monthly Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT270"))
                    {
                        <li class="" id="KBNRT270">
                            <a asp-controller="OrderReport" asp-action="KBNRT270">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Forecast Monthly History Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT280"))
                    {
                        <li class="" id="KBNRT280">
                            <a asp-controller="OrderReport" asp-action="KBNRT280">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Delivery Performance Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT296"))
                    {
                        <li class="" id="KBNRT296">
                            <a asp-controller="OrderReport" asp-action="KBNRT296">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Supplier Invoice Performance Report</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT300"))
                    {
                        <li class="" id="KBNRT300">
                            <a asp-controller="OrderReport" asp-action="KBNRT300">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">KANBAN Cut/Add/Stop History</span>
                            </a>
                        </li>
                    }
                    @if (Menulist.Contains("KBNRT310"))
                    {
                        <li class="" id="KBNRT310">
                            <a asp-controller="OrderReport" asp-action="KBNRT310">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Count Stock</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNDL000"))
        {
            <li id="KBNDL000" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><svg class="svg-inline--fa fa-gears" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gears" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M308.5 135.3c7.1-6.3 9.9-16.2 6.2-25c-2.3-5.3-4.8-10.5-7.6-15.5L304 89.4c-3-5-6.3-9.9-9.8-14.6c-5.7-7.6-15.7-10.1-24.7-7.1l-28.2 9.3c-10.7-8.8-23-16-36.2-20.9L199 27.1c-1.9-9.3-9.1-16.7-18.5-17.8C173.9 8.4 167.2 8 160.4 8h-.7c-6.8 0-13.5 .4-20.1 1.2c-9.4 1.1-16.6 8.6-18.5 17.8L115 56.1c-13.3 5-25.5 12.1-36.2 20.9L50.5 67.8c-9-3-19-.5-24.7 7.1c-3.5 4.7-6.8 9.6-9.9 14.6l-3 5.3c-2.8 5-5.3 10.2-7.6 15.6c-3.7 8.7-.9 18.6 6.2 25l22.2 19.8C32.6 161.9 32 168.9 32 176s.6 14.1 1.7 20.9L11.5 216.7c-7.1 6.3-9.9 16.2-6.2 25c2.3 5.3 4.8 10.5 7.6 15.6l3 5.2c3 5.1 6.3 9.9 9.9 14.6c5.7 7.6 15.7 10.1 24.7 7.1l28.2-9.3c10.7 8.8 23 16 36.2 20.9l6.1 29.1c1.9 9.3 9.1 16.7 18.5 17.8c6.7 .8 13.5 1.2 20.4 1.2s13.7-.4 20.4-1.2c9.4-1.1 16.6-8.6 18.5-17.8l6.1-29.1c13.3-5 25.5-12.1 36.2-20.9l28.2 9.3c9 3 19 .5 24.7-7.1c3.5-4.7 6.8-9.5 9.8-14.6l3.1-5.4c2.8-5 5.3-10.2 7.6-15.5c3.7-8.7 .9-18.6-6.2-25l-22.2-19.8c1.1-6.8 1.7-13.8 1.7-20.9s-.6-14.1-1.7-20.9l22.2-19.8zM112 176a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zM504.7 500.5c6.3 7.1 16.2 9.9 25 6.2c5.3-2.3 10.5-4.8 15.5-7.6l5.4-3.1c5-3 9.9-6.3 14.6-9.8c7.6-5.7 10.1-15.7 7.1-24.7l-9.3-28.2c8.8-10.7 16-23 20.9-36.2l29.1-6.1c9.3-1.9 16.7-9.1 17.8-18.5c.8-6.7 1.2-13.5 1.2-20.4s-.4-13.7-1.2-20.4c-1.1-9.4-8.6-16.6-17.8-18.5L583.9 307c-5-13.3-12.1-25.5-20.9-36.2l9.3-28.2c3-9 .5-19-7.1-24.7c-4.7-3.5-9.6-6.8-14.6-9.9l-5.3-3c-5-2.8-10.2-5.3-15.6-7.6c-8.7-3.7-18.6-.9-25 6.2l-19.8 22.2c-6.8-1.1-13.8-1.7-20.9-1.7s-14.1 .6-20.9 1.7l-19.8-22.2c-6.3-7.1-16.2-9.9-25-6.2c-5.3 2.3-10.5 4.8-15.6 7.6l-5.2 3c-5.1 3-9.9 6.3-14.6 9.9c-7.6 5.7-10.1 15.7-7.1 24.7l9.3 28.2c-8.8 10.7-16 23-20.9 36.2L315.1 313c-9.3 1.9-16.7 9.1-17.8 18.5c-.8 6.7-1.2 13.5-1.2 20.4s.4 13.7 1.2 20.4c1.1 9.4 8.6 16.6 17.8 18.5l29.1 6.1c5 13.3 12.1 25.5 20.9 36.2l-9.3 28.2c-3 9-.5 19 7.1 24.7c4.7 3.5 9.5 6.8 14.6 9.8l5.4 3.1c5 2.8 10.2 5.3 15.5 7.6c8.7 3.7 18.6 .9 25-6.2l19.8-22.2c6.8 1.1 13.8 1.7 20.9 1.7s14.1-.6 20.9-1.7l19.8 22.2zM464 304a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg><!-- <i class="fas fa-cogs"></i> Font Awesome fontawesome.com --></span>
                    <span class="pcoded-mtext">Gear Kit Fac 3</span>
                </a>

                <ul class="pcoded-submenu">
                    @if (Menulist.Contains("KBNDL001"))
                    {
                        <li class="" id="KBNDL001">
                            <a asp-controller="DownloadData" asp-action="KBNDL001">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Print PDS Card &amp; Kanban</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (Menulist.Contains("KBNMT100"))
        {
            <li id="KBNMT100" class="pcoded-hasmenu" dropdown-icon="style2" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                    <span class="pcoded-mtext">Developer Maintainance</span>
                </a>

                <ul class="pcoded-submenu">
                    @if (Menulist.Contains("KBNMT110"))
                    {
                        <li class="" id="KBNMT110">
                            <a asp-controller="DevelopMaintain" asp-action="KBNMT110">
                                <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                <span class="pcoded-mtext" style="font-size:0.8rem;">Set User Authorize</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}
