<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">

                    <fieldset class="fieldset">
                        <legend>Detail Data : </legend>

                        <div class="row">
                            <div class="col-6">
                                <item type="table" id="tblPDS"></item>
                            </div>
                            <div class="col">
                                <fieldset class="fieldset">
                                    <legend>Input Purchase Request No. : </legend>
                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtRequestNo" label="Purchase Request No."></item>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <item type="date" id="txtDeliveryFrom" label="Delivery Date" format="yyyy-mm-dd" default="now"></item>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <item type="table" id="tblSeparate"></item>
                            </div>
                        </div>

                    </fieldset>

                </form>
            </div>
        </div>
    </div>

</div>




@section Scripts{
    
    @*<script type="text/javascript" src="~/assets/.script/Template/Action.js"></script>*@
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/SpecialData/KBNIM007TSR.js?@ViewData["Version"]"></script>
}
