<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row justify-content-center">

                    <div class="col-8">

                        <div class="row">

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text" for="selOrder">Order No.</label>
                                    <select class="selectpicker ps-0" id="selOrder" data-live-search="true" data-size="7">
                                        <option value="" hidden></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text" for="selCreate">Create By.</label>
                                    <select class="selectpicker ps-0" id="selCreate" data-live-search="true" data-size="7">
                                        <option value="" hidden></option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-2">
                            <input type="checkbox" class="form-check-input" id="chkboxDeliDate" />
                            <label class="form-check-text" for="chkboxDeliDate">Search by Delivery Date</label>
                        </div>

                        <div class="row mt-2">

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text" for="txtDateFrom">Delivery Date From</label>
                                    <input type="text" class="datepicker form-control" id="txtDateFrom" disabled/>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text" for="txtDateTo">Delivery Date To</label>
                                    <input type="text" class="datepicker form-control" id="txtDateTo" disabled />
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-2 ms-4">
                        <div class="row mt-4">
                            <button type="button" class="btn btn-primary col-6" id="btnUpdCycle">Update Cycle</button>
                        </div>
                        <div class="row mt-2">
                            <button type="button" class="btn btn-success col-6" id="btnSearch">Search</button>
                        </div>
                    </div>

                </div>

                <div class="row mt-4">
                    <h6>Maintenance Data</h6>
                </div>

                <div class="row justify-content-center">

                    <div class="col-8">

                        <table class="table table-bordered w-100" id="tableMain">

                        </table>

                    </div>

                    <div class="col-2 ms-4">
                        <div class="row align-self-center">
                            <div class="row">
                                <button type="button" class="btn btn-primary col-8" id="btnSelectAll">Select All</button>
                            </div>
                            <div class="row mt-2">
                                <button type="button" class="btn btn-warning col-8" id="btnDeselectAll">Deselect All</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row justify-content-end mt-4">
                    <div class="col-2">
                        <button type="button" class="btn btn-success col-8" id="btnConfirm">Confirmation</button>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-danger col-8" asp-controller="Home" asp-action="Index">Exit</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialData/KBNIM007C.js")"></script>
}