<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row">
                    <div class="row justify-content-start" id="divBtn">
                        <button type="button" id="btnInq" class="btn btn-success col">Inquiry</button>
                        <button type="button" id="btnNew" class="btn btn-primary col">New</button>
                        <button type="button" id="btnUpd" class="btn btn-warning col">Update</button>
                        <button type="button" id="btnDel" class="btn btn-danger col">Delete</button>
                        <button type="button" id="btnCan" class="btn btn-warning col" disabled>Cancel</button>
                        <button type="button" id="btnRptPar" class="btn btn-success col">Report Parent</button>
                        <button type="button" id="btnRpt" class="btn btn-primary col">Report</button>
                    </div>
                    <div class="col-6">
                        <div class="row ms-1 me-4 mt-2">
                            <h6 class="ps-0">Order Type :</h6>
                            <div class="col">
                                <input type="radio" class="form-check-input" name="rdoType" id="rdoNormal" value="NORMAL" checked />
                                <label class="form-check" for="rdoNormal">Normal Order</label>
                            </div>
                            <div class="col">
                                <input type="radio" class="form-check-input" name="rdoType" id="rdoSpecial" value="SPECIAL" />
                                <label class="form-check" for="rdoSpecial">Special Order</label>
                            </div>
                            <div class="col">
                                <input type="radio" class="form-check-input" name="rdoType" id="rdoTrial" value="TRIAL" />
                                <label class="form-check" for="rdoTrial">Trial(1A)</label>
                            </div>
                        </div>
                        <div class="row justify-content-end mt-2">
                            <label class="btn btn-dark col-3" for="impFile">Import File</label>
                            <input type="file" class="form-control" id="impFile" hidden accept=".xlsx , .xls" />
                        </div>
                        <div class="row mt-2" id="divInput">
                            <div class="row">
                                <div class="input-group col">
                                    <label class="input-group-text" for="mthDeliYM">Production Month</label>
                                    <input type="month" class="form-control col-4" value="@DateTime.Now.ToString("yyyy-MM")" id="mthDeliYM" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <label class="input-group-text" for="selCustomerOrder">Customer Order No.</label>
                                    <select class="selectpicker col-4 ps-0" id="selCustomerOrder" data-live-search="true" data-size="7" disabled>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <label class="input-group-text" for="inpDate">Issued Date</label>
                                    <input type="text" class="form-control col-12 " id="inpDate" readonly />
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-6 border border-5 border-dark">
                                    <h6 class="mb-0 p-1">Parent Part</h6>
                                    <div class="row">
                                        <div class="input-group pe-0">
                                            <label class="input-group-text" for="selStoreCode">Store Code</label>
                                            <select class="selectpicker col-7 ps-0 pe-0" id="selStoreCode" data-live-search="true" data-size="7" disabled></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group pe-0">
                                            <label class="input-group-text" for="selPartNo">Part No.</label>
                                            <select class="selectpicker col-7 ps-0 pe-0" id="selPartNo" data-live-search="true" data-size="7" disabled></select>
                                        </div>
                                        <span class="fw-bolder text-primary invisible" id="spanPartName"></span>
                                    </div>
                                </div>
                                <div class="col-6 border border-5 border-dark border-start-0">
                                    <h6 class="mb-0 p-1">Component Part</h6>
                                    <div class="row">
                                        <div class="input-group pe-0">
                                            <label class="input-group-text" for="selCompStoreCode">Store Code</label>
                                            <select class="selectpicker col-7 ps-0 pe-0" id="selCompStoreCode" data-live-search="true" data-size="7" disabled></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group pe-0">
                                            <label class="input-group-text" for="selCompPartNo">Part No.</label>
                                            <select class="selectpicker col-7 ps-0 pe-0" id="selCompPartNo" data-live-search="true" data-size="7" disabled></select>
                                        </div>
                                        <span class="fw-bolder pb-1 text-primary invisible" id="spanCompPartName"></span>
                                    </div>
                                    <div class="row">
                                        <div class="input-group pe-0">
                                            <label class="input-group-text" for="selCompSupplier">Supplier CD</label>
                                            <select class="selectpicker col-7 ps-0 pe-0" id="selCompSupplier" data-live-search="true" data-size="7" disabled></select>
                                        </div>
                                        <span class="fw-bolder pb-1 text-primary invisible" id="spanCompSupplierName"></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row justify-content-end">
                            <a class="text-primary d-flex justify-content-end" href="~/TemplateFiles/kbnim007T_Template.xlsx">Download Pattern File</a>
                        </div>
                        <div class="row mt-3">
                            <table class="table w-100 table-bordered ms-1 mt-2" id="tableMain">
                                <thead>
                                    <tr>
                                        <th class="bg-danger text-center">SUN</th>
                                        <th class="bg-warning text-center">MON</th>
                                        <th style="background-color:lightpink;text-align:center">TUE</th>
                                        <th class="bg-success text-center">WED</th>
                                        <th style="background-color:orange;text-align:center">THU</th>
                                        <th style="background-color:lightskyblue;text-align:center">FRI</th>
                                        <th style="background-color:mediumpurple;text-align:center">SAT</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="row mt-2">
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-success col-2" id="btnSave" disabled>Save</button>
                                <a class="btn btn-danger col-2" asp-controller="OrderingProcess" asp-action="KBNOR200">Exit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <table class="table w-100 table-bordered" id="tableSub">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialData/KBNIM007T.js")"></script>
}
