<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">

                    <div class="row mb-2">
                        <div class="col">

                            <fieldset class="fieldset">
                                <legend>Current Process Information :</legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                            <div class="col-3">
                                                <item type="button" id="btnPrintPDS" label="Print PDS" style="width:100%"></item>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtOrderType" label="Order Type :" value="CKD In-House Order" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                            <div class="col-3">
                                                <item type="checkbox" id="chkPrnitKanban" label="Full A4"></item>
                                            </div>
                                            <div class="col-3">
                                                <item type="button" id="btnPrintKanban" label="Print Kanban" style="width:100%"></item>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col">

                            <fieldset class="fieldset" id="fldPDSNo">
                                <legend>Select PDS No. : </legend>
                                @*<legend><item type="checkbox" id="chkPDSNo" label="Select PDS No. : " value="1" checked></item></legend>*@

                                <div class="row">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="input-group">
                                                <label class="input-group-text">PDS No From :</label>
                                                <select class="selectpicker" id="itmPDS" name="itmPDS" data-live-search="true" style="width:100%">
                                                    <option value="">-- Select PDS No --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="input-group">
                                                <label class="input-group-text">To :</label>
                                                <select class="selectpicker" id="itmPDSTo" name="itmPDSTo" data-live-search="true" style="width:100%">
                                                    <option value="">-- Select PDS No --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-10">
                                    </div>
                                    <div class="col-2">
                                        <item type="button" id="btnExit" label="Exit" style="width:100%"></item>
                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>



@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/OrderingProcess/KBNOR370.js")"></script>
}
