<div class="row">

    <div class="col-xl col-md col-sm mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">


                <div class="row">
                    <div class="col"></div>

                    <div class="col-6">

                        <fieldset class="fieldset">
                            <legend>Current Process Information :</legend>

                            <div class="row">
                                <div class="col">

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtOrderType" label="Order Type :" value="Urgent Order" readonly></item>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Select type of order : </legend>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR610" label="Delete PDS Normal" style="width:100%" class-value="btn btn-primary"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR620" label="Delete PDS Special" style="width:100%" class-value="btn btn-danger"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR630" label="Delete PDS Urgent" style="width:100%" class-value="btn btn-warning"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>


                        <fieldset class="fieldset mb-2">
                            <legend>Special Option : </legend>

                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR640" label="Recover PDS Deleted" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>

                    </div>

                    <div class="col"></div>
                </div>


            </div>
        </div>
    </div>


</div>





@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/OrderingProcess/KBNOR600.js")"></script>
}
