<div class="row">

    <div class="col-xl col-md col-sm mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">


                <div class="row">
                    <div class="col"></div>

                    <div class="col-8">


                        <fieldset class="fieldset bg-danger text-white">
                            <div class="row">
                                <div class="col" style="text-align:center;">
                                    <h3>SPECIAL ORDER</h3>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Current Process Information :</legend>

                            <div class="row">
                                <div class="col">

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtOrderType" label="Order Type :" value="Urgent Order" readonly></item>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Master of Special Ordering :</legend>

                            <div class="row">
                                <div class="col">

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR293" label="1. Color of Tag" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR294" label="2. Contact Operator" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR295" label="3. Approver Master" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR296" label="4. Supplier Attention" style="width:100%"></item>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>




                        <fieldset class="fieldset mb-2">
                            <legend>Process of Special Ordering :</legend>

                            <div class="row">
                                <div class="col">

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR210" label="1. Interface Data from Import Order" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR240" label="9. Get Survey Status from E-Procurement" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR210_2" label="2. Merge Customer Order" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR290" label="10. Check Status and Print Survey Doc" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR210_3" label="3. Unmerge Customer Order" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR250" label="11. Generate PDS Data" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR210_1" label="4. Maintenance Delivery Date" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR280" label="12. Registration PDS Data" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR220" label="5. Generate Survey Document" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR260" label="13. Send Approve PDS" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR220_1" label="6. Maintenance Survey Document" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR261" label="14. Approve PDS" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR220_2" label="7. Adjust Survey Document" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                            <item type="button" id="btnKBNOR270" label="15. Print PDS and Part Tag" style="width:100%"></item>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <item type="button" id="btnKBNOR230" label="8. Upload Survey to E-Procurement" style="width:100%"></item>
                                        </div>
                                        <div class="col"></div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>




                        <fieldset class="fieldset mb-2">
                            <legend>Report for Special Ordering : </legend>

                            <div class="row mb-2">
                                <div class="col">
                                    <item type="button" id="btnKBNOR291" label="1. Summary Survey Special Confirmation Report" style="width:100%"></item>
                                </div>
                                <div class="col">
                                    <item type="button" id="btnKBNOR292" label="2. Detail Survey Special Confirmation Report" style="width:100%"></item>
                                </div>
                            </div>


                        </fieldset>

                    </div>

                    <div class="col"></div>
                </div>


            </div>
        </div>
    </div>


</div>


@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/OrderingProcess/KBNOR200.js")"></script>
}