@{
    DateTime now = DateTime.Now;
    DateTime Process_Date = now.Date.AddDays(1);
    string Process_Shift = (now.Hour >= 7) && (now.Hour <= 17) ? "1 : Day Shift" : "2 : Night Shift";
    string _ProcessDate = Process_Date.ToString("yyyy-MM-dd");
}
<style>
    .table th, .table td {
        padding: 0.25rem 1rem;
        vertical-align: top;
        border-top: 1px solid #e3e6f0;
    }
    .table tbody tr th{
        font-weight :bolder;
        font-size : 0.8rem;
    }
</style>
<div class="row">
    <!-- Left Panel -->
    <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                @*------------------- div select to preview ----------------------*@
                <div class="row" id="divPreview">
                    <div class="col-4 p-1 pt-4" style="border:solid;border-color:aqua;border-width:medium;">
                        <div class="row">
                            <div class="input-group col-7">
                                <label class="input-group-text col-5" for="inputSupplier">Supplier :</label>
                                <select class="form-select" id="inputSupplier">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-7">
                                <label class="input-group-text col-5" for="inputKanban">Kanban :</label>
                                <select class="form-select" id="inputKanban">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="input-group col-5">
                                <label class="input-group-text" for="inputKanbanTo">To :</label>
                                <select class="form-select" id="inputKanbanTo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-7">
                                <label class="input-group-text col-5" for="inputStore">Store Code :</label>
                                <select class="form-select" id="inputStore">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="input-group col-5">
                                <label class="input-group-text" for="inputStoreTo">To :</label>
                                <select class="form-select" id="inputStoreTo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-7">
                                <label class="input-group-text col-5" for="inputPart">Part No. :</label>
                                <select class="form-select" id="inputPart">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="input-group col-5">
                                <label class="input-group-text" for="inputPartTo">To :</label>
                                <select class="form-select" id="inputPartTo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="d-flex justify-content-end align-item-end">
                                <button type="button" class="btn btn-primary col-3 me-1" id="btnProcess">
                                    <i class="fa-solid fa-link"></i>
                                    Process
                                </button>
                                <button type="button" class="btn btn-primary col-3" id="btnPreview">
                                    <i class="fa-solid fa-binoculars"></i>
                                    Preview
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 p-4" style="border:solid;border-color:aqua;border-width:medium;border-left:0px">
                        <div class="row">
                            <div class="col">
                                <span class="d-flex justify-content-center text-center" style="font-size:6rem;font-weight:bolder;margin-bottom:auto;">Daily</span>
                                <span class="d-flex justify-content-center text-center fs-4 fw-bold">Normal Order</span>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col mt-1">
                                        <span class="fs-6">กระดานแจ้งข่าว : </span>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-dark float-end" id="btnEditNews">แก้ไขข่าว</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <textarea class="form-control mt-2 fs-6" id="txtNews" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 p-1 pt-4" style="border:solid;border-color:aqua;border-width:medium;border-left:0px">
                        <div class="row">
                            <div class="input-group">
                                <label class="input-group-text">Process Date For :</label>
                                <input type="date" class="form-control" id="inputProcessDateFor" value="@_ProcessDate" readonly>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Process Shift For :</label>
                                <input type="text" class="form-control" id="inputProcessShiftFor" value="@Process_Shift" readonly>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Plant :</label>
                                <input type="text" class="form-control" id="inputPlant" readonly>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Order Type :</label>
                                <input type="text" class="form-control" id="inputOrderType" value="Daily Order" readonly>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <button type="button" class="btn btn-primary col" id="buttonReport">
                                    <i class="fas fa-file-text" aria-hidden="true"></i>
                                    Report
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning col" id="buttonCancel">
                                    <i class="fa-solid fa-xmark"></i>
                                    Cancel
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger col" id="buttonExit">
                                    <i class="fa-solid fa-door-open"></i>
                                    Exit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divRead">
                    <div class="row text-center mt-2">
                        <div class="col-10">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Supplier</label>
                                    <input type="text" class="form-control" id="readSupplier" value="0068-D" readonly />
                                </div>
                                <div style="flex: 0 0 11%">
                                    <label class="form-label">Supplier Name</label>
                                    <input type="text" class="form-control" id="readSupplierName" value="ADVICS" readonly />
                                </div>
                                <div style="flex: 0 0 13%">
                                    <label class="form-label">Part No.</label>
                                    <input type="text" class="form-control" id="readPartNo" readonly />
                                </div>
                                <div style="flex: 0 0 20%">
                                    <label class="form-label">Part Name</label>
                                    <input type="text" class="form-control" id="readPartName" readonly />
                                </div>
                                <div class="col">
                                    <label class="form-label">Store Code</label>
                                    <input type="text" class="form-control" id="readStoreCode" readonly />
                                </div>
                                <div class="col">
                                    <label class="form-label">Kanban No.</label>
                                    <input type="text" class="form-control" id="readKanbanNo" value="0000" readonly />
                                </div>
                                <div class="col">
                                    <label class="form-label">Qty/Pack</label>
                                    <input type="text" class="form-control" id="readQtyPack" readonly />
                                </div>
                                <div style="flex: 0 0 11%">
                                    <label class="form-label">Cycle Time</label>
                                    <input type="text" class="form-control" id="readCycleTime" value="01-01-01" readonly />
                                </div>
                                <div style="flex: 0 0 11%">
                                    <label class="form-label">Line</label>
                                    <input type="text" class="form-control" id="readLine" readonly />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col input-group">
                                    <label class="input-group-text">Use/Day(Pcs.)</label>
                                    <input type="text" class="form-control" id="readUseDay" readonly />
                                </div>
                                <div class="col input-group">
                                    <label class="input-group-text">Forecast Max(Pcs.)</label>
                                    <input type="text" class="form-control" id="readForecastMax" readonly />
                                </div>
                                <div class="col input-group">
                                    <label class="input-group-text">Safety Stock</label>
                                    <input type="text" class="form-control" id="readForecastMin" readonly />
                                </div>
                                <div class="col input-group">
                                    <label class="input-group-text">Max Area (KB)</label>
                                    <input type="text" class="form-control" id="readMaxArea" readonly />
                                </div>
                                <div class="col input-group">
                                    <label class="input-group-text">Total Limit/Trip</label>
                                    <input type="text" class="form-control" id="readLimitTrip" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="input-group" >
                                    <label class="input-group-text col-7">Std+B(Pcs.) </label>
                                    <input type="text" class="form-control" id="readStdBPcs" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <label class="input-group-text col-7">Std.Stock(Pcs.) </label>
                                    <input type="text" class="form-control" id="readStdStock" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <label class="input-group-text col-7">Min.Stock(Pcs.) </label>
                                    <input type="text" class="form-control" id="readMinStock" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*------------------- div table to preview ----------------------*@
            
                <table id="tableMaster" class="table table-bordered mt-2" style="overflow-x:auto;display:block">

                    <thead class="text-center">
                        <tr class ="text-center" id="THeadR1">
                            <th style="border:0px"><input class="form-control" value="MRP : 15/07/2024" id="inputMRP" readonly /></th>
                            
                            <th style="border-bottom:0px" colspan="5">11-07-2024</th>
                            <th style="border-bottom:0px" colspan="5">12-07-2024</th>
                            <th style="border-bottom:0px" colspan="5">13-07-2024</th>

                        </tr>
                        <tr class="text-center" style="border:0px" id="THeadR2">

                            <th style="border:0px"><input type="radio" name="radMRP" id="MRP-20" /> MRP-20% </th>
                            
                            
                            <th style="border:0px" colspan="2"></th>
                            <th style="border:0px" colspan="2" class="bg-danger">Day</th>
                            <th style="border:0px" class="bg-primary">Night</th>

                            <th style="border:0px" colspan="2"></th>
                            <th style="border:0px" colspan="2" class="bg-danger">Day</th>
                            <th style="border:0px" class="bg-primary">Night</th>

                            <th style="border:0px" colspan="2"></th>
                            <th style="border:0px" class="bg-danger">Day</th>
                            <th style="border:0px" class="bg-primary" colspan="2">Night</th>

                        </tr>
                        <tr class="text-center" id="THeadR3">
                            <th style="border:0px"><input type="radio" name="radMRP" id="MRP20" /> MRP+20%</th>
                            <th>Pcs</th>
                            <th>KB</th>
                            <th>T1</th>
                            <th>T2</th>
                            <th>T3</th>

                            <th>Pcs</th>
                            <th>KB</th>
                            <th>T1</th>
                            <th>T2</th>
                            <th>T3</th>

                            <th>Pcs</th>
                            <th>KB</th>
                            <th>T1</th>
                            <th>T2</th>
                            <th>T3</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">

                        <tr>
                            <th class="text-start" style="width:10dvw;height:2dvh" id="F_TMT_FO">TMT Forecast</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start" id="F_HMMT_Prod">HMMT Prod.Forecast</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start" id="F_HMMT_Order">HMMT Order Plan</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start" id="">Production Volume</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start" id="F_Lot_SizeOrder">MRP (Actual Production)</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Diff Last MRP vs FC</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Abnormal Part</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Total</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Remain From Last Trip</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Order Base</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">ToTal Order</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">KB Cut (-) / Add (+)</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr> 
                        <tr>
                            <th class="text-start">Actual Order</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr> 
                        <tr>
                            <th class="text-start">Urgent (Pcs.)</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr> 
                        <tr>
                            <th class="text-start">Adjust Order/Trip</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Receive Plan</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>BL (Plan)</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th class="text-start">Receive Actual</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>BL (Actual)</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>

                    </tbody>
                </table>


                <div class="row mt-1">
                    <div class="col">

                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark btn-rounded col-2" id="btnPrevPage"><i class="fa-solid fa-backward-step"></i></button>
                            <input type="text" class="form-control text-center col-2" id="txtPage" value="1/6" readonly>
                            <button type="button" class="btn btn-outline-dark btn-rounded col-2" id="btnNextPage"><i class="fa-solid fa-forward-step"></i></button>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/assets/.script/OrderingProcess/KBNOR121.js?@ViewData["Version"]"></script>
}

