<div class="row">

    <div class="col-xl col-md col-sm mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">


                <div class="row">
                    <div class="col"></div>

                    <div class="col-6">


                        <fieldset class="fieldset bg-warning text-white">
                            <div class="row">
                                <div class="col" style="text-align:center;">
                                    <h3>URGENT ORDER</h3>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Current Process Information :</legend>

                            <div class="row">
                                <div class="col">

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtOrderType" label="Order Type :" value="Urgent Order" readonly></item>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Process of Emergency Ordering : </legend>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR410" label="1. Interface Daba from Import Order" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR420" label="2. Calculate Urgent Order" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR440" label="3. Generate PDS Data for Urgent" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR450" label="4. Print PDS/Kanban Card for Urgent" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR460" label="5. Registration Data for Urgent Order" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>


                        <fieldset class="fieldset mb-2">
                            <legend>Report : </legend>

                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR460EX" label="Export Order Data" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>


                        <fieldset class="fieldset">

                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR470" label="Unlock : PDS Not Price (Interface to E-Pro)" style="width:100%"></item>
                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>

                    </div>

                    <div class="col"></div>
                </div>


            </div>
        </div>
    </div>


</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/OrderingProcess/KBNOR400.js?@ViewData["Version"]"></script>
}
