<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">

                    <div class="row">
                        <div class="col">

                            <fieldset class="fieldset">
                                <legend>Current Process Information :</legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtOrderType" label="Order Type :" value="Normal Order" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col">


                            <div class="row">
                                <div class="col-9">

                                    <div class="row mb-2">
                                        <div class="col">


                                            <fieldset class="fieldset">
                                                <legend>Process For :</legend>

                                                <div class="row">
                                                    <div class="col">

                                                        <div class="row">
                                                            <div class="col-4">
                                                                <item type="date" id="txtProcessForDate" label="Date :" format="yyyy-mm-dd" default="now"></item>
                                                            </div>
                                                            <div class="col-4">
                                                                <item type="text" id="txtProcessForShift" label="Shift :" value="@ViewData["_ShiftTitle"]?.ToString()"></item>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </fieldset>

                                        </div>
                                    </div>


                                    <div class="row mb-2">
                                        <div class="col">


                                            <fieldset class="fieldset">
                                                <legend>CONDITON :</legend>

                                                <div class="row mb-2">
                                                    <div class="col">

                                                        <div class="row">
                                                            <div class="col-4">
                                                                <item type="date" id="txtDate" label="Date :" format="yyyy-mm-dd" default="now"></item>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-1">
                                                    </div>
                                                    <div class="col">
                                                        <item type="radio" id="rdoOrderType" value="Minus" label="MRP -20%" checked></item>
                                                    </div>
                                                    <div class="col">
                                                        <item type="radio" id="rdoOrderType" value="Plus" label="MRP +20%"></item>
                                                    </div>
                                                    <div class="col">
                                                        <item type="radio" id="rdoOrderType" value="All" label="All Data"></item>
                                                    </div>
                                                </div>

                                            </fieldset>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col">
                                            <item type="table" id="tblMaster" label=""></item>
                                        </div>
                                    </div>


                                </div>




                                <div class="col">
                                    <div class="row mt-2">
                                        <div class="col"></div>
                                        <div class="col-6">
                                            <item type="button" id="btnExit" label="Exit" style="width:100%"></item>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col"></div>
                                        <div class="col-6">
                                            <item type="button" id="btnUpdateMRP" label="UPDATE MRP" style="width:100%"></item>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col"></div>
                                        <div class="col-6">
                                            <item type="button" id="btnReportMRP" label="Report MRP" style="width:100%"></item>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col"></div>
                                        <div class="col-6">
                                            <item type="button" id="btnReport" label="Report" style="width:100%"></item>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col"></div>
                                        <div class="col-6">
                                            <item type="button" id="btnSearch" label="Search" style="width:100%"></item>
                                        </div>
                                    </div>@*
                                    <div class="row mt-2">
                                        <div class="col">
                                            <item type="checkbox" id="chkPrnitKanban" label="Full A4"></item>
                                        </div>
                                        <div class="col-6">
                                            <item type="button" id="btnPrintKanban" label="Print Kanban" style="width:100%"></item>
                                        </div>
                                    </div>*@
                                </div>


                            </div>






                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>




@section Scripts{
    <script type="text/javascript" src="~/assets/.script/OrderingProcess/KBNOR160.js?@ViewData["Version"]"></script>
}
