@{
}
<style>
    .table th, .table td {
        padding: 0.25rem 1rem;
        vertical-align: top;
        /* border-top: 1px solid #e3e6f0; */
    }
    .table tbody tr th{
        font-weight :bolder;
        font-size : 0.8rem;
        /* position : absolute;
        left : 0;
        width : auto;
        height : auto; */
    }
    .spinner {
       position: relative;
       width: 24.6px;
       height: 24.6px;
    }

    .spinner div {
       animation: spinner-4t3wzl 2.25s infinite backwards;
       background-color: #0086f2;
       border-radius: 50%;
       height: 100%;
       position: absolute;
       width: 100%;
    }

    .spinner div:nth-child(1) {
       animation-delay: 0.18s;
       background-color: rgba(0,134,242,0.9);
    }

    .spinner div:nth-child(2) {
       animation-delay: 0.36s;
       background-color: rgba(0,134,242,0.8);
    }

    .spinner div:nth-child(3) {
       animation-delay: 0.54s;
       background-color: rgba(0,134,242,0.7);
    }

    .spinner div:nth-child(4) {
       animation-delay: 0.72s;
       background-color: rgba(0,134,242,0.6);
    }

    .spinner div:nth-child(5) {
       animation-delay: 0.8999999999999999s;
       background-color: rgba(0,134,242,0.5);
    }

    @@keyframes spinner-4t3wzl {
       0% {
          transform: rotate(0deg) translateY(-200%);
       }

       60%, 100% {
          transform: rotate(360deg) translateY(-200%);
       }
    }

    .sticky-col {
        position: sticky;
        left: 0;
    }
</style>
<div class="row">
    <!-- Left Panel -->
    <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                @*------------------- div select to preview ----------------------*@
                <div class="row" id="divPreview">
                    <div id="divSelect" class="col-4 p-1 pt-4" style="border:solid;border-color:aqua;border-width:medium;">
                        <div class="row">
                            <div class="input-group col-7" style="padding-right:.25rem">
                                <label class="input-group-text col-5" style="padding-left:.35rem; for="inputSupplier">Supplier :</label>
                                <select class="form-select" id="inputSupplier">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-7" style="padding-right:.25rem">
                                <label class="input-group-text col-5" style="padding-left:.35rem; for="inputKanban">Kanban :</label>
                                <select class="form-select" id="inputKanban">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="input-group col-5" style="padding-left:.25rem">
                                <label class="input-group-text" for="inputKanbanTo">To :</label>
                                <select class="form-select" id="inputKanbanTo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-7" style="padding-right:.25rem">
                                <label class="input-group-text col-5" style="padding-left:.35rem; for="inputStore">Store Code :</label>
                                <select class="form-select" id="inputStore">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="input-group col-5" style="padding-left:.25rem">
                                <label class="input-group-text" for="inputStoreTo">To :</label>
                                <select class="form-select" id="inputStoreTo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-7" style="padding-right:.25rem">
                                <label class="input-group-text col-5" style="padding-left:.35rem; for="inputPart">Part No. :</label>
                                <select class="form-select" id="inputPart">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="input-group col-5" style="padding-left:.25rem">
                                <label class="input-group-text" for="inputPartTo">To :</label>
                                <select class="form-select" id="inputPartTo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="d-flex justify-content-end align-item-end">
                                <button type="button" class="btn btn-primary col-3 me-1" id="btnProcess" disabled>
                                    <i class="fa-solid fa-link"></i>
                                    Process
                                </button>
                                <button type="button" class="btn btn-success col-3" id="btnPreview" disabled>
                                    <i class="fa-solid fa-binoculars"></i>
                                    Preview
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 p-4" style="border:solid;border-color:aqua;border-width:medium;border-left:0px">
                        <div class="row">
                            <div class="col">
                                <span class="d-flex justify-content-center text-center" style="font-size:4.5rem;font-weight:bolder;margin-bottom:auto;">Daily</span>
                                <span class="d-flex justify-content-center text-center fs-5 fw-bold">Normal Order</span>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col mt-1" style="padding:0 0 0 0">
                                        <span class="fw-bolder" style="font-size:0.85rem">กระดานแจ้งข่าว</span>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-dark float-end" id="btnEditNews">แก้ไขข่าว</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <textarea class="form-control mt-2 fs-6" id="txtNews" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 p-1 pt-4" style="border:solid;border-color:aqua;border-width:medium;border-left:0px">
                        <div class="row">
                            <div class="input-group">
                                <label class="input-group-text" for="inputProcessDateFor">Process Date For :</label>
                                <input type="date" class="form-control" id="inputProcessDateFor" value="" readonly>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text" for="inputProcessShiftFor">Process Shift For :</label>
                                <input type="text" class="form-control" id="inputProcessShiftFor" value="" readonly>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text" for="inputPlant">Plant :</label>
                                <input type="text" class="form-control" id="inputPlant" readonly>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text" for="inputOrderType">Order Type :</label>
                                <input type="text" class="form-control" id="inputOrderType" value="Daily Order" readonly>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4" style="padding-right:0;">
                                <button type="button" class="btn btn-primary" id="buttonReport">
                                    <i class="fas fa-file-text" aria-hidden="true"></i>
                                    Report
                                </button>
                            </div>
                            <div class="col-4" style="padding-right:0;">
                                <button type="button" class="btn btn-warning" id="buttonCancel">
                                    <i class="fa-solid fa-xmark"></i>
                                    Cancel
                                </button>
                            </div>
                            <div class="col-4" style="padding-right:0;" >
                                <button type="button" class="btn btn-danger" id="buttonExit">
                                    <i class="fa-solid fa-door-open"></i>
                                    Exit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divRead">
                    <div class="row text-center mt-2">
                        <div class="col-10">
                            <div class="row">
                                <div class="col" style="padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readSupplier">Supplier</label>
                                    <input type="text" class="form-control text-center" id="readSupplier" readonly />
                                </div>
                                <div style="flex: 0 0 11.5%;padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readSupplierName">Supplier Name</label>
                                    <input type="text" class="form-control text-center" id="readSupplierName" readonly />
                                </div>
                                <div style="flex: 0 0 15%;padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readPartNo">Part No.</label>
                                    <input type="text" class="form-control text-center" id="readPartNo" readonly />
                                </div>
                                <div style="flex: 0 0 18%;padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readPartName">Part Name</label>
                                    <input type="text" class="form-control text-center" id="readPartName" readonly />
                                </div>
                                <div class="col" style="padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readStoreCode">Store Code</label>
                                    <input type="text" class="form-control text-center" id="readStoreCode" readonly />
                                </div>
                                <div class="col" style="padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readKanbanNo">Kanban No.</label>
                                    <input type="text" class="form-control text-center" id="readKanbanNo" readonly />
                                </div>
                                <div class="col" style="padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readQtyPack">Qty/Pack</label>
                                    <input type="text" class="form-control text-center" id="readQtyPack" readonly />
                                </div>
                                <div style="flex: 0 0 10%;padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readCycleTime">Cycle Time</label>
                                    <input type="text" class="form-control text-center" id="readCycleTime" readonly />
                                </div>
                                <div style="flex: 0 0 9%;padding:0 0.5rem 0 0">
                                    <label class="form-label" for="readLine">Line</label>
                                    <input type="text" class="form-control text-center" id="readLine" readonly />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col input-group" style="padding:0 0.5rem 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readUseDay">Use/Day(Pcs.)</label>
                                    <input type="text" class="form-control text-center" id="readUseDay" readonly />
                                </div>
                                <div class="col input-group" style="padding:0 0.5rem 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readForecastMax">Forecast Max(Pcs.)</label>
                                    <input type="text" class="form-control text-center" id="readForecastMax" readonly />
                                </div>
                                <div class="col input-group" style="padding:0 0.5rem 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readSafetyStock">Safety Stock</label>
                                    <input type="text" class="form-control text-center" id="readSafetyStock" readonly />
                                </div>
                                <div class="col input-group" style="padding:0 0.5rem 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readMaxArea">Max Area (KB)</label>
                                    <input type="text" class="form-control text-center" id="readMaxArea" readonly />
                                </div>
                                <div class="col input-group" style="padding:0 0.5rem 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readLimitTrip">Total Limit/Trip</label>
                                    <input type="text" class="form-control text-center" id="readLimitTrip" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col input-group" style="padding:0 0 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readStdBPcs">Std+B(Pcs.) </label>
                                    <input type="text" class="form-control bg-warning text-light fw-bolder text-center" id="readStdBPcs" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col input-group" style="padding:0 0 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readStdStock">Std.Stock(Pcs.) </label>
                                    <input type="text" class="form-control bg-success text-light fw-bolder text-center" id="readStdStock" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col input-group" style="padding:0 0 0 0">
                                    <label class="input-group-text" style="font-size: .7rem;padding: 0.375rem 0.3rem;" for="readMinStock">Min.Stock(Pcs.) </label>
                                    <input type="text" class="form-control bg-danger text-light fw-bolder text-center" id="readMinStock" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*------------------- div table to preview ----------------------*@
                <div class="spinner" id="divSpinner" style="visibility:hidden;margin:auto">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <table id="tableMaster" class="table table-bordered mt-2" style="overflow-x:auto;display:block">

                    <thead class="text-center">
                        <tr class ="text-center" id="THeadR1">
                            <th class="sticky-col" style="border:0px">
                                <input class="form-control" value="MRP : 15/07/2024" id="inputMRP" readonly />
                            </th>
                        </tr>
                        <tr class="text-center" style="border:0px" id="THeadR2">
                            <th class="sticky-col" style="border:0px">
                                <input class="form-check-input" type="radio" name="radMRP" id="MRP-20" /> 
                                <label class="form-check-label" for="MRP-20" id="lbMrp-20">
                                    MRP-20%
                                </label> 
                            </th>
                        </tr>
                        <tr class="text-center" id="THeadR3">
                            <th class="sticky-col" style="border:0px">
                                <input class="form-check-input" type="radio" name="radMRP" id="MRP20" /> 
                                    <label class="form-check-label" for="MRP20" id="lbMrp20">
                                        MRP+20%
                                    </label>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">

                        <tr id="TBodyR1">
                            <th class="text-start sticky-col" style="width:10dvw;height:2dvh" id="F_TMT_FO">TMT Forecast</th>
                        </tr>
                        <tr id="TBodyR2">
                            <th class="text-start sticky-col" id="F_HMMT_Prod">HMMT Prod.Forecast</th>
                        </tr>
                        <tr id="TBodyR3">
                            <th class="text-start sticky-col" id="F_HMMT_Order">HMMT Order Plan</th>
                        </tr>
                        <tr id="TBodyR4">
                            <th class="text-start sticky-col" id="F_Cycle_Order">Production Volume</th>
                        </tr>
                        <tr id="TBodyR5">
                            <th class="text-start sticky-col" id="F_MRP">MRP (Actual Production)</th>
                        </tr>
                        <tr id="TBodyR6">
                            <th class="text-start sticky-col" id="F_Diff_MRP_FC">Diff Last MRP vs FC</th>
                        </tr>
                        <tr id="TBodyR7">
                            <th class="text-start sticky-col" id="F_AbNormal_Part">Abnormal Part</th>
                        </tr>
                        <tr id="TBodyR8">
                            <th class="text-start sticky-col" id="F_Total">Total</th>
                        </tr>
                        <tr id="TBodyR9">
                            <th class="text-start sticky-col" id="F_Remain_LastTrip">Remain From Last Trip</th>
                        </tr>
                        <tr id="TBodyR10">
                            <th class="text-start sticky-col" id="F_Order_Base">Order Base</th>
                        </tr>
                        <tr id="TBodyR11">
                            <th class="text-start sticky-col" id="F_Lot_SizeOrder">ToTal Order</th>
                        </tr>
                        <tr id="TBodyR12">
                            <th class="text-start sticky-col" id="F_KB_CutAdd">KB Cut (-) / Add (+)</th>
                        </tr> 
                        <tr id="TBodyR13">
                            <th class="text-start sticky-col" id="F_Actual_Order">Actual Order</th>
                        </tr> 
                        <tr id="TBodyR14">
                            <th class="text-start sticky-col" id="F_Urgent_Order">Urgent (Pcs.)</th>
                        </tr> 
                        <tr id="TBodyR15">
                            <th class="bg-success text-start sticky-col">Pattern Delivery</th>
                        </tr>
                        <tr id="TBodyR16">
                            <th class="bg-info text-start sticky-col">Adjust Order/Trip</th>
                        </tr>
                        <tr id="TBodyR17">
                            <th class="text-start sticky-col">Receive Plan</th>
                        </tr>
                        <tr id="TBodyR18">
                            <th class="sticky-col">BL (Plan)</th>
                        </tr>
                        <tr id="TBodyR19">
                            <th class="text-start sticky-col">Receive Actual</th>
                        </tr>
                        <tr id="TBodyR20">
                            <th class="sticky-col">BL (Actual)</th>
                        </tr>

                    </tbody>
                </table>

                <div class="row mt-1">
                    <div class="col-2">

                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-7" style="padding-right:5px;">
                                <span class="text-center" id="spanProcessDate">Process Date</span>
                            </div>
                            <div class="col" style="padding-left:0px;">
                                <span class="text-center" id="spanDeliveryDate">Delivery Date</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" >
                        <div class="row ms-4">
                            <div class="col-3">
                                <input type="radio" class="form-check-input" id="radioKbStop" />
                                <label class="form-check-label text-primary" id="lbKbStop" for="radioKbStop">Stop</label>
                            </div>
                            <div class="col-3">
                                <input type="radio" class="form-check-input" id="radioKbAdd" />
                                <label class="form-check-label text-primary" id="lbKbAdd" for="radioKbAdd">Add</label>
                            </div>
                            <div class="col-3">
                                <input type="radio" class="form-check-input" id="radioKbCut" />
                                <label class="form-check-label text-primary" id="lbKbCut" for="radioKbCut">Cut</label>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row mt-2">
                    <div class="col-2">
                        <div class="row ms-2">
                            <button type="button" class="btn btn-outline-dark col-5 me-1" disabled>Lock <i class="fa-solid fa-lock"></i></button>
                            <button type="button" class="btn btn-outline-dark col-6 me-1" disabled>Unlock <i class="fa-solid fa-lock-open"></i></button>
                        </div>
                    </div>
                    <div class="col-3" id="divCheckBox">
                        <div class="row ms-2">
                            <div class="col-7">
                                <input type="checkbox" class="form-check-input" id="chkBoxOrderTable" readonly />
                                <label class="form-check-label text-primary" id="lbOrderTable" for="chkBoxOrderTable">Order Table</label>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="form-check-input" id="chkBoxSliceOrder" readonly />
                                <label class="form-check-label text-primary" id="lbSliceOrder" for="chkBoxSliceOrder">Slice Order</label>
                            </div>
                        </div>
                        <div class="row ms-2">
                            <div class="col-7"> 
                                <input type="checkbox" class="form-check-input" id="chkBoxChgCycleTime" readonly />
                                <label class="form-check-label text-primary" id="lbChgCycleTime" for="chkBoxChgCycleTime">Change Cycle Time</label>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="form-check-input" id="chkBoxRecSlice" readonly />
                                <label class="form-check-label text-primary" id="lbRecSlice" for="chkBoxRecSlice">Receive Slice</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex ms-4 ps-4">
                            <button type="button" class="btn btn-outline-dark btn-rounded col-2" id="btnPrevPage"><i class="fa-solid fa-backward-step"></i></button>
                            <input type="text" class="form-control text-center col-4" id="txtPage" value="1/1" readonly>
                            <button type="button" class="btn btn-outline-dark btn-rounded col-2" id="btnNextPage"><i class="fa-solid fa-forward-step"></i></button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex align-end justify-content-end">
                            <button type="button" style="font-size:0.65rem;padding:0.35rem 0.35rem;" class="btn btn-outline-dark btn-rounded col-4" id="btnBlCal">
                                Re-Calculate BL
                            </button>
                            <button type="button" style="font-size:0.65rem;padding:0.35rem 0.35rem;" class="btn btn-outline-dark btn-rounded col-4" id="btnReCal">
                                Re-Calculate
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/OrderingProcess/KBNOR121.js")"></script>
}
