<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">

                    <div class="row">
                        <div class="col">

                            <fieldset class="fieldset">
                                <legend>Current Process Information :</legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtOrderType" label="Order Type :" value="Urgent Order" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <item type="button" id="btnExportData" label="Export Data" style="width:100%"></item>
                                            </div>
                                            <div class="col">
                                                <item type="button" id="btnExit" label="Exit" style="width:100%"></item>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col">
                                        <item type="text" id="itmFileName" label="File Name"></item>
                                    </div>
                                    <div class="col">
                                        File extension must be .csv or .txt only
                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col">

                            <fieldset class="fieldset" id="fldPDSNo" disabled>
                                <legend><item type="checkbox" id="chkPDSNo" label="Select PDS No. : "></item></legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="select" id="itmPDSFrom" label="PDS No. From : "></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="select" id="itmPDSTo" label="To :"></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col">

                            <fieldset class="fieldset" id="fldSupplierCode" disabled>
                                <legend><item type="checkbox" id="chkSupplierCode" label="Supplier Code : "></item></legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="select" id="itmSupplierFrom" label="Supplier From : "></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="select" id="itmSupplierTo" label="To :"></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col">

                            <fieldset class="fieldset" id="fldDeliveryDate" disabled>
                                <legend><item type="checkbox" id="chkDeliveryDate" label="Delivery Date : "></item></legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="date" id="itmDeliveryFrom" label="Delivery Date From :" format="yyyy-mm-dd" default="now"></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="date" id="itmDeliveryTo" label="To :" format="yyyy-mm-dd" default="now"></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>



                    <div class="row mt-2">
                        <div class="col">
                            <item type="progress" id="prgProcess" label="Status : {{##.##}} %" max="100"></item>
                        </div>
                    </div>



                    <div class="row mt-2" style="visibility:hidden">
                        <div class="col">
                            <a id="aDownloadLink" href="" target="_blank">Download File</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>




@section Scripts{
    @*<script type="text/javascript" src="~/assets/js/History/UserMaintenance.js?@ViewData["Version"]"></script>*@
    <script type="text/javascript" src="~/assets/.script/OrderingProcess/KBNOR460EX.js?@ViewData["Version"]"></script>
}
