<div class="row">

    <div class="col-xl col-md col-sm mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">


                <div class="row">
                    <div class="col"></div>

                    <div class="col-8">


                        <fieldset class="fieldset bg-primary text-white">
                            <div class="row">
                                <div class="col" style="text-align:center;">
                                    <h3>NORMAL ORDER</h3>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Current Process Information :</legend>

                            <div class="row">
                                <div class="col">

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessDate" label="Process Date :" value="@ViewData["_ProcessDate"]" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                        </div>
                                        <div class="col">
                                            <item type="text" id="txtOrderType" label="Order Type :" value="Normal Order" readonly></item>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="fieldset">
                            <legend>Process of Normal Ordering : </legend>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR110" label="1. Interface Data from Import Order" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR120" label="2. Calculate Normal Order" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            
                                        </div>
                                        <div class="col-6">
                                            <item type="button" id="btnKBNOR121" label="3. Daily order" style="width:100%"></item>
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR130" label="4. Generate PDS for Normal Order Data" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR140" label="5. Print PDS and Kanban Card for Normal" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR150" label="6. Registration Normal Order Data" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>


                        <fieldset class="fieldset mb-2">
                            <legend>Report : </legend>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR160" label="Checking MRP Data" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="button" id="btnKBNOR150EX" label="Export Order Data" style="width:100%"></item>

                                </div>
                                <div class="col">
                                </div>
                            </div>

                        </fieldset>

                    </div>

                    <div class="col"></div>
                </div>


            </div>
        </div>
    </div>


</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/.script/OrderingProcess/KBNOR100.js?@ViewData["Version"]"></script>
}
