@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
            
            
            <div>
                <table class="table mt-2" width="80%" id="tableMain">
                    <thead class="text-center"></thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>

            <div class="text-end mt-2">
                <button type="button" id="btnUnlock" class="btn btn-rounded btn-outline-dark col-1">Unlock</button>
                <button type="button" id="btnClear" class="btn btn-rounded btn-outline-dark col-1">Clear</button>
            </div>

            </div>
        </div>
    </div>

</div>


@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/OrderingProcess/KBNOR470.js")"></script>
}