<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Search Condition</legend>
                        <div class="row mb-4">
                            <div class="col-5 d-flex justify-content-start">
                                <label class="input-group-text" style="width:82%" for="F_SubFrom">
                                    Supplier Code From : &nbsp;
                                    <select id="F_SupFrom" class="form-select" style="width:82%" label="Supplier From : ">
                                        <option id="supFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <label class="input-group-text" style="width:60%" for="F_SubTo">
                                    To : &nbsp;
                                    <select id="F_SupTo" class="form-select" style="width:100%" label="To : ">
                                        <option id="supToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" style="width:82%" for="F_KBNFrom">
                                    Kanban No. From : &nbsp;
                                    <select id="F_KBNFrom" class="form-select" style="width:82%" label="Supplier From : ">
                                        <option id="KBNFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <label class="input-group-text" style="width:60%" for="F_KBNTo">
                                    To : &nbsp;
                                    <select id="F_KBNTo" class="form-select" label="Supplier To : ">
                                        <option id="KBNToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" style="width:82%" for="F_PartFrom">
                                    Part No. From : &nbsp;
                                    <select id="F_PartFrom" class="form-select" style="width:82%">
                                        <option id="PartFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <label class="input-group-text" style="width:60%" for="F_PartTo">
                                    To : &nbsp;
                                    <select id="F_PartTo" class="form-select">
                                        <option id="PartToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" style="width:82%" for="F_StoreFrom">
                                    Store Code From : &nbsp;
                                    <select id="F_StoreFrom" class="form-select" style="width:82%">
                                        <option id="StoreFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <label class="input-group-text" style="width:60%" for="F_StoreTo">
                                    To : &nbsp;
                                    <select id="F_StoreTo" class="form-select">
                                        <option id="StoreToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportStatusBtn" label="Report Status"></item>
                        <item type="button" style="height:fit-content" id="ReportDetailBtn" label="Report Detail"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    <script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>
    <script type="text/javascript" src="~/assets/.script/OrderReport/KBNRT120.js?@ViewData["Version"]"></script>
}