<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Search Condition</legend>
                        <div class="row mb-4">
                            <div id ="DeliveryDiv" class="col ms-4">
                                <input type="radio" class="form-check-input" name="radDate" id="DeliDate" value="Delivery" checked /><label class="form-check-label" style="margin-top: 0.2rem !important;" for="DeliDate">Delivery Date</label>
                            </div>
                            <div id="OrderDiv" class="col ms-3">
                                <input type="radio" class="form-check-input" name="radDate" id="OrderDate" value="Order"/><label class="form-check-label" style="margin-top: 0.2rem !important;" for="OrderDate">Order Date</label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <div class="d-flex justify-content">
                                    <label class="input-group-text" for="F_SupFrom">
                                        Supplier From : &nbsp;
                                        <select id="F_SupFrom" class="form-select">
                                            <option id="SupFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <item type="date" id="F_DateFrom" label="Date From : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                            <div class="col">
                                <item type="date" id="F_DateTo" label="To : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <div class="d-flex justify-content">
                                    <label class="input-group-text" for="F_CycleFrom">
                                        Cycle From : &nbsp;
                                        <select id="F_CycleFrom" class="form-select">
                                            <option id="CycleFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content">
                                    <label class="input-group-text" for="F_CycleTo">
                                        To : &nbsp;
                                        <select id="F_CycleTo" class="form-select">
                                            <option id="CycleToBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportBtn" label="Report"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/OrderReport/KBNRT170.js?@ViewData["Version"]"></script>
}