<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Main Report :: </legend>
                        <div class="text-center">
                            <div class="mb-4 ms-3">
                                <div class="d-flex" style="width:25%">
                                    <item type="month" id="F_ProdMonth" label="Production Month : " format="yyyy-mm" default="now"></item>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="d-flex col-3">
                                    <label class="input-group-text" for="Revision" noedit="">Revision : &nbsp;&nbsp;&nbsp;<input type="text" class="form-control" id="Revision" value="" readonly /></label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="d-flex col-3">
                                    <label class="input-group-text" for="Version" noedit="">Version : &nbsp;&nbsp;&nbsp;<input type="text" class="form-control" id="Version" value="" readonly /></label>
                                </div>
                            </div>
                        </div>
                        <fieldset class="fieldset">
                            <legend>Condition Report :: </legend>
                            <div class="row mb-4">
                                <div class="col-5">
                                    <label class="input-group-text" for="F_SubFrom">
                                        Supplier Code From : &nbsp;
                                        <select id="F_SupFrom" class="form-select" label="Supplier From : ">
                                            <option id="supFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="input-group-text" for="F_SubTo">
                                        To : &nbsp;
                                        <select id="F_SupTo" class="form-select" label="To : ">
                                            <option id="supToBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-5">
                                    <label class="input-group-text" for="F_KBNFrom">
                                        Kanban No. From : &nbsp;
                                        <select id="F_KBNFrom" class="form-select" label="Supplier From : ">
                                            <option id="KBNFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="input-group-text" for="F_KBNTo">
                                        To : &nbsp;
                                        <select id="F_KBNTo" class="form-select" label="Supplier To : ">
                                            <option id="KBNToBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-5">
                                    <label class="input-group-text" for="F_StoreFrom">
                                        Store Code From : &nbsp;
                                        <select id="F_StoreFrom" class="form-select">
                                            <option id="StoreFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="input-group-text" for="F_StoreTo">
                                        To : &nbsp;
                                        <select id="F_StoreTo" class="form-select">
                                            <option id="StoreToBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-5">
                                    <label class="input-group-text" for="F_PartFrom">
                                        Part No. From : &nbsp;
                                        <select id="F_PartFrom" class="form-select">
                                            <option id="PartFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="input-group-text" for="F_PartTo">
                                        To : &nbsp;
                                        <select id="F_PartTo" class="form-select">
                                            <option id="PartToBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-start align-text-bottom align-items-start align-content-start">
                        <item type="button" style="height:fit-content" id="ReportAbnormalBtn" label="Report ABNORMAL"></item>
                    </div>
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportBtn" label="Report"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/OrderReport/KBNRT270.js?@ViewData["Version"]"></script>
}