<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset mt-4">
                        <legend>Condition Report (Per Shift) : </legend>
                        <div class="row mb-4">
                            <div class="col-5">
                                <item type="date" id="F_Date" label="Date : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                            <div class="col-3">
                                <label class="input-group-text" for="F_Shift">
                                    Shift : &nbsp;
                                    <select id="F_Shift" class="form-select">
                                        <option id="ShiftBlank"></option>
                                        <option id="ShiftDay" value="D">Day Shift</option>
                                        <option id="ShiftNight" value="N">Night Shift</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-3">
                                <label class="input-group-text" for="F_Shift">
                                    Dock Check : &nbsp;
                                    <select id="F_Dock" class="form-select">
                                        <option id="DockBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                                <item type="button" style="height:fit-content" id="ReportBtn" label="REPORT"></item>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset mt-4">
                        <legend>Condition for All Part : </legend>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" for="F_SubFrom">
                                    Supplier From : &nbsp;
                                    <select id="F_SupFrom" class="form-select" label="Supplier From : ">
                                        <option id="supFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-4">
                                <label class="input-group-text" for="F_SubTo">
                                    Supplier To : &nbsp;
                                    <select id="F_SupTo" class="form-select" label="To : ">
                                        <option id="supToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" for="F_PartFrom">
                                    Part No From : &nbsp;
                                    <select id="F_PartFrom" class="form-select">
                                        <option id="PartFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-4">
                                <label class="input-group-text" for="F_PartTo">
                                    Part No To : &nbsp;
                                    <select id="F_PartTo" class="form-select">
                                        <option id="PartToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" for="F_KBNFrom">
                                    Kanban No. From : &nbsp;
                                    <select id="F_KBNFrom" class="form-select" label="Supplier From : ">
                                        <option id="KBNFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-4">
                                <label class="input-group-text" for="F_KBNTo">
                                    Kanban To : &nbsp;
                                    <select id="F_KBNTo" class="form-select" label="Supplier To : ">
                                        <option id="KBNToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <label class="input-group-text" for="F_StoreFrom">
                                    Store From : &nbsp;
                                    <select id="F_StoreFrom" class="form-select">
                                        <option id="StoreFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-4">
                                <label class="input-group-text" for="F_StoreTo">
                                    Store To : &nbsp;
                                    <select id="F_StoreTo" class="form-select">
                                        <option id="StoreToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportAllBtn" label="REPORT ALL PART"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    <script type="text/javascript" src="~/assets/.script/OrderReport/KBNRT310.js?@ViewData["Version"]"></script>
}