<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Condition</legend>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <div class="d-flex justify-content">
                                    <label class="input-group-text" for="F_SupFrom">
                                        System Flag From : &nbsp;
                                        <select id="F_FlagFrom" class="form-select">
                                            <option id="FlagFromBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content">
                                    <label class="input-group-text" for="F_SupTo">
                                        To : &nbsp;
                                        <select id="F_FlagTo" class="form-select">
                                            <option id="FlagToBlank"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <item type="date" id="F_DateFrom" label="Date Stamp From : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                            <div class="col">
                                <item type="date" id="F_DateTo" label="To : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <div class="w-50">
                                    <item type="time" id="F_TimeFrom" label="Time Stamp Time" format="hh:mm"></item>
                                </div>
                            </div>
                            <div class="col">
                                <div style="width:35%">
                                    <item type="time" id="F_TimeTo" label="To" format="hh:mm"></item>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportBtn" label="Report"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    <script type="text/javascript" src="~/assets/.script/OrderReport/KBNRT250.js?@ViewData["Version"]"></script>
}