<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Search Condition</legend>
                        <div class="row mb-4">
                            <div class="col ms-2">
                                <item type="date" id="F_DateFrom" label="Order Date From : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                            <div class="col">
                                <item type="date" id="F_DateTo" label="To : " format="yyyy-mm-dd" default="now"></item>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportBtn" label="Report"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    <script type="text/javascript" src="~/assets/.script/OrderReport/KBNRT240.js?@ViewData["Version"]"></script>
}