<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Template : Confirmation Password</title>
</head>
<body>
    <div>Dear {#NAME#},</div><br />
    <div>Your password has been reset.</div><br />
    <div>Please click <a href="{#URL#}">here</a> for login to Hino Warranty Claim System</div><br /><br />
    <div>Best Regard,</div><br />
    <div>
        <table>
            <tr>
                <td rowspan="2">
                    <img src="http://warranty.hinommt.com/assets/img/hino_logo.jpg" height="45" />
                </td>
                <td style="margin-left:10px">
                    Information Technology Department
                </td>
            </tr>
            <tr>
                <td style="margin-left:10px">
                    Hino Motors Manufacturing (Thailand) Ltd.
                </td>
            </tr>
        </table>

    </div>
</body>
</html>