<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Template : Forgot Password</title>
</head>
<body>
    <div>เรียน {#NAME#},</div><br />
    <div>คุณเพิ่งร้องขอกู้คืนรหัสผ่านสำหรับบัญชีของคุณ คลิ๊กปุ่มด้านล่างเพื่อดำเนินการ.</div><br />
    <div><a href="{#URL#}">คลิ๊กเพื่อกู้คืนรหัสผ่าน</a></div><br />
    <div>หากคุณไม่ได้ต้องการกู้คืนรหัสผ่าน โปรดเพิกเฉยต่ออีเมลนี้</div><br /><br />
    <div>ขอบคุณ,</div><br />
    <div>
        <table>
            <tr>
                <td rowspan="2">
                    <img src="http://warranty.hinommt.com/assets/img/hino_logo.jpg" height="45" />
                </td>
                <td style="margin-left:10px">
                    Information Technology Department
                </td>
            </tr>
            <tr>
                <td style="margin-left:10px">
                    Hino Motors Manufacturing (Thailand) Ltd.
                </td>
            </tr>
        </table>

    </div>
</body>
</html>