<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Template : Forgot Password</title>
</head>
<body>
    <div>Dear {#NAME#},</div><br />
    <div>You recently requested to reset password for you account. Click the button below to reset it.</div><br />
    <div><a href="{#URL#}">Reset your password Click</a></div><br />
    <div>If you did not request a password reset, please ignore this email.</div><br /><br />
    <div>Thanks,</div><br />
    <div>
        <table>
            <tr>
                <td rowspan="2">
                    <img src="http://warranty.hinommt.com/assets/img/hino_logo.jpg" height="45" />
                </td>
                <td style="margin-left:10px">
                    Information Technology Department
                </td>
            </tr>
            <tr>
                <td style="margin-left:10px">
                    Hino Motors Manufacturing (Thailand) Ltd.
                </td>
            </tr>
        </table>
    
    </div>
</body>
</html>