<header>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</header>

<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Select Condition</legend>
                        <div class="row">
                            <div class="col-3">
                                <b>Type Order : </b>
                            </div>
                            <div class="col-3">
                                <input type="radio" id="allRad" name="radio" value="All" />
                            </div>
                            <div class="col-3">
                                <input type="radio" id="7zRad" name="radio" value="7Z" />
                            </div>
                            <div class="col-3">
                                <input type="radio" id="7yRad" name="radio" value="7Y" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <item type="date" id="F_DeliveryFrom" label="Delivery Date From : " format="dd/mm/yyyy" default="now"></item>
                            </div>
                            <div class="col-3">
                                <item type="date" id="F_DeliveryTo" label="To : " format="dd/mm/yyyy" default="now"></item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <item type="text" id="F_PDS_No" label="PDS No."></item>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset mt-2">
                        <legend>Receive Special Table : </legend>
                        <div class="row">
                            <div class="col mt-4">
                                <table id="tblMaster" class="w-100">
                                    <thead>
                                        <tr>
                                            <th>Serial No.</th>
                                            <th>Part No.</th>
                                            <th width="30%">Part Name</th>
                                            <th>Delivery Date</th>
                                            <th>Order Qty</th>
                                            <th>Already Received</th>
                                            <th>Receive Qty</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    <script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>
    <script type="text/javascript" src="~/assets/.script/ReceiveProcess/KBNCR220.js?@ViewData["Version"]"></script>
}
