<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Search Data</legend>
                        <div class="row mb-4">
                            <div class="col-4 d-flex justify-content-start">
                                <label class="input-group-text" style="width:82%" for="F_SupplierFrom">
                                    Supplier From : &nbsp;
                                    <select id="F_SupplierFrom" class="form-select" style="width:82%" label="Supplier From : ">
                                        <option id="supFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                <label class="input-group-text" style="width:60%" for="F_SupplierFrom">
                                    To : &nbsp;
                                    <select id="F_SupplierTo" class="form-select" style="width:100%" label="To : ">
                                        <option id="supToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col-5">
                                <item type="date" id="F_DeliveryFrom" label="Receive Date From : " format="yyyy-mm-dd" default="now" readonly></item>
                            </div>
                            <div class="col-4" style="margin-left:2.8rem !important">
                                <item type="date" id="F_DeliveryTo" label="To : " format="yyyy-mm-dd" default="now" readonly></item>
                            </div>
                        </div>
                        <fieldset class="fieldset">
                            <legend>Type Order :: </legend>
                            <div class="row mt-2 ms-2">
                                <div class="col-3">
                                    <input type="radio" class="form-check-input" id="allRad" name="radioType" value="ALL" checked /><label class="form-check-label" style="margin-top: 0.2rem !important;" for="allRad">All Order Type</label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" class="form-check-input" id="norRad" name="radioType" value="NOR" /><label class="form-check-label" style="margin-top: 0.2rem !important;" for="norRad">Normal Order Type</label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" class="form-check-input" id="spcRad" name="radioType" value="SPC" /><label class="form-check-label" style="margin-top: 0.2rem !important;" for="spcRad">Special Order Type</label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" class="form-check-input" id="urgRad" name="radioType" value="URG" /><label class="form-check-label" style="margin-top: 0.2rem !important;" for="urgRad">Urgent Order Type</label>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportBtn" label="Report"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    <script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>
    <script type="text/javascript" src="~/assets/.script/ReceiveProcess/KBNCR140.js?@ViewData["Version"]"></script>
}