@using KANBAN.Libs
<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Search Data</legend>
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-start">
                                <label class="input-group-text"for="F_PartFrom">
                                    Part No. From : &nbsp;
                                    <select id="F_PartFrom" class="form-select" label="Supplier From : ">
                                        <option id="supFromBlank"></option>
                                    </select>
                                </label>
                            </div>
                            <div class="col d-flex justify-content">
                                <label class="input-group-text" for="F_PartTo">
                                    To : &nbsp;
                                    <select id="F_PartTo" class="form-select" label="To : ">
                                        <option id="supToBlank"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col">
                                <item type="date" id="F_DeliveryFrom" label="Receive Date From : " format="yyyy-mm-dd" default="now" readonly></item>
                            </div>
                            <div class="col">
                                <item type="date" id="F_DeliveryTo" label="To : " format="yyyy-mm-dd" default="now" readonly></item>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-end align-text-bottom align-items-end align-content-end">
                        <item type="button" style="height:fit-content" id="ReportBtn" label="Report"></item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/ReceiveProcess/KBNCR150.js")"></script>
}