<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                    <div class="row">
                        <div class="col mt-2">

                            <fieldset class="fieldset">
                                <legend>Import File : </legend>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <item type="button" id="btnInterface" label="Interface Monthly Forecast Data"></item>
                                    </div>
                                    <div class="col" id="divCurrentTxt" style="text-align:center;color:blue;font-size:16px;">
                                        Current Data Interface : Production Month : 12/2023 Version : CONFIRM Revision No.: 2.0
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="input-group">
                                            <label for="ImportMonth" class="input-group-text">Month :</label>
                                            <input type="text" id="ImportMonth" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <item type="text" id="ImportVersion" label="Version" readonly></item>
                                    </div>
                                    <div class="col-3">
                                        <item type="text" id="ImportRevision" label="Revision" readonly></item>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group">
                                            <label for="ImportDate" class="input-group-text">Date :</label>
                                            <input type="text" id="ImportDate" class="form-control" readonly/>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="fieldset">
                                <legend>Condition : </legend>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="input-group">
                                            <label for="ConditionMonth" class="input-group-text">Month :</label>
                                            <input type="text" id="ConditionMonth" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <item type="text" id="ConditionVersion" label="Version" readonly></item>
                                    </div>
                                    <div class="col-3">
                                        <item type="text" id="ConditionRevision" label="Revision" readonly></item>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-2">
                                        <item type="radio" id="TypeForImport" value="ConditionDetail" label="Detail" checked></item>
                                    </div>
                                    <div class="col">
                                        <fieldset class="fieldset" id="fldConditionDetail">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="selectSupplier">Supplier Code</label>
                                                        <select id="selectSupplier" class="selectpicker">
                                                            <option value="" hidden></option>
                                                        </select>
                                                        <input type="text" class="form-control ms-2" id="readSupplier" readonly />
                                                    </div>
                                                    @* <item type="lov" id="ConditionDetailSupplierCode" label="Supplier Code" data-controller="LOVKB3.PartList" data-value="F_Part_No:Code" data-description="F_Part_Name" class="col-2"></item> *@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="selectKanban">Kanban No.</label>
                                                        <select id="selectKanban" class="selectpicker">
                                                            <option value="" hidden></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="selectStore">Store Code</label>
                                                        <select id="selectStore" class="selectpicker">
                                                            <option value="" hidden></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="selectPart">Part No.</label>
                                                        <select id="selectPart" class="selectpicker">
                                                            <option value="" hidden></option>
                                                        </select>
                                                        <input type="text" class="form-control ms-2" id="readPart" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-2">
                                        <item type="radio" id="TypeForImport" value="ConditionSupplier" label="Supplier"></item>
                                    </div>
                                    <div class="col">
                                        <fieldset class="fieldset" id="fldConditionSupplier">
                                            <div class="row">
                                                <div class="input-group">
                                                    <label class="input-group-text" for="selectSupplier2nd">Supplier Code</label>
                                                    <select id="selectSupplier2nd" class="selectpicker">
                                                        <option value="" hidden></option>
                                                    </select>
                                                    <input type="text" class="form-control ms-2" id="readSupplier2nd" readonly />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group">
                                                    <label class="input-group-text" for="selectStore2nd">Store Code</label>
                                                    <select id="selectStore2nd" class="selectpicker">
                                                        <option value="" hidden></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-3">
                                        <item type="button" id="btnNextMonth" label="Inf. FO From N+1 To Next Month"></item>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <item type="table" id="tblMaster" class="cell-border"></item>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/MonthlyForcast/KBNIM012.js?@ViewData["Version"]"></script>
}
