<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                    <div class="row">
                        <div class="col mt-2">

                            <fieldset class="fieldset">
                                <legend>Select Data</legend>

                                <div class="row">
                                    <div class="col-4">
                                        <item type="month" id="F_Production_Month" label="Production Month" default="now"></item>
                                    </div>
                                    <div class="col-2">
                                        <item type="select" id="F_Revision" label="Revision"></item>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <div class="row col-12">
                                            <input type="file" class="form-control col-10 me-2" id="inpFile" accept=".xlsx" />
                                            <a class="btn btn-rounded btn-info text-light fw-bold col" id="btnImport">Import</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-8">
                                        <item type="progress" id="pgsStatus" label="Processing: {{##.##}} %"></item>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>





@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/LogisticCondition/KBNLC150.js")"></script>
}