<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
@*
                    <div class="row">
                        <div class="col-6">
                            <item type="select" id="selPlant" label="Plant" value="3" readonly></item>
                        </div>
                    </div>
*@
                    <div class="row">
                        <div class="col mt-2">

                            <fieldset class="fieldset">
                                <legend>Select Data</legend>

                                <div class="row">
                                    <div class="col-3">
                                        <item type="month" id="datPeriod" label="Production Month" default="now"></item>
                                    </div>
                                    <div class="col-2">
                                        <item type="select" id="selRev" label="Rev"></item>
                                    </div>
                                    <div class="col-3">
                                        <item type="date" id="datStartDate" label="Start Date" format="yyyy-mm-dd"></item>
                                    </div>
                                    <div class="col">
                                        <item type="button" id="btnSearch" label="Search" style="width:103px"></item>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <item type="radio" id="rdoSupplier" label="Supplier list confirmation" value="3" checked></item>
                                    </div>
                                    <div class="col-2">
                                        <item type="radio" id="rdoSupplier" label="Supplier list NO confirmation" value="9"></item>
                                    </div>
                                    <div class="col-3">
                                        <item type="radio" id="rdoSupplier" label="Supplier list NO answer" value="5"></item>
                                    </div>
                                    <div class="col">
                                        <item type="button" id="btnCheckStatus" label="Check Status"></item>
                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col mt-2">

                            <div class="row">
                                <div class="col">
                                    <fieldset class="fieldset">
                                        <legend>Detail Data</legend>

                                        <div class="row">
                                            <div class="col-10">
                                                <item type="table" id="tblMaster"></item>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <item type="button" id="btnInterface" label="Interface Data"></item>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col">
                                                        <item type="button" id="btnReport" label="Report" style="width:110px"></item>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-10">
                                                <item type="progress" id="pgsStatus" label="Processing: {{##.##}} %" max="139000"></item>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>

                        </div>
                    </div>
                
                </form>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    <script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>
    <script type="text/javascript" src="~/assets/.script/LogisticCondition/KBNLC190.js?@ViewData["Version"]"></script>
}
