<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                    @*
                    <div class="row">
                        <div class="col-6">
                            <item type="select" id="selPlant" label="Plant" value="3" readonly></item>
                        </div>
                    </div>
*@
                    <div class="row">
                        <div class="col mt-2">

                            <fieldset class="fieldset">
                                <legend>Select Data</legend>
                                <input type="hidden" id="userId" value="@ViewData["_UserCode"]" />
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-text">Supplier From</span>
                                                <select class="selectpicker" id="inpSupplierFrom" data-live-search="true" data-size="6">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <item type="button" id="btnReport" label="Report" style="width:103px"></item>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-text">Supplier Code To</span>
                                                <select class="selectpicker" id="inpSupplierTo" data-live-search="true" data-size="6">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <item type="date" id="datPeriod" label="Production Month" format="yyyy"></item>
                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>

                    <div class="row" style="visibility:hidden;display:none;">
                        @*<div class="row">*@
                        <div class="col mt-2">
                            <item type="table" id="tblMaster"></item>
                        </div>
                    </div>



                </form>

            </div>
        </div>
    </div>

</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/LogisticCondition/KBNLC200.js")"></script>
}