<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
@*
                    <div class="row">
                        <div class="col-6">
                            <item type="select" id="selPlant" label="Plant" value="3" readonly></item>
                        </div>
                    </div>
*@
                    <div class="row">
                        <div class="col mt-2">

                            <fieldset class="fieldset">
                                <legend>Select Data</legend>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <label class="input-group-text">Production Month :</label>
                                                    <input type="text" class="form-control" id="inpProdMonth" />
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="input-group">
                                                    <label class="input-group-text">Rev : </label>
                                                    <input type="text" class="form-control" id="inpRev" readonly />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <label class="input-group-text">Start Date :</label>
                                                    <input type="text" class="form-control" id="inpStartDate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col">
                                                <item type="button" id="btnSearch" label="Search" style="width:100%"></item>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col mt-2">

                            <div class="row">
                                <div class="col">
                                    <fieldset class="fieldset">
                                        <legend>Detail Data</legend>

                                        <div class="row">
                                            <div class="col-10">
                                                <table class="table w-100" id="tableMain"></table>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <item type="button" id="btnInterface" label="Interface Data" style="width:100%"></item>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col">
                                                        <item type="button" id="btnReport" label="Report" style="width:100%"></item>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-10">
                                                <item type="progress" id="pgsStatus" label="Processing: {{##.##}} %" max="139000"></item>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>

                        </div>
                    </div>
                
                </form>

            </div>
        </div>
    </div>

</div>



@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/LogisticCondition/KBNLC190.js")"></script>
}