<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                    <div class="row">
                        <div class="col mt-2">

                            <fieldset class="fieldset">
                                <legend>Import File : </legend>

                                <div class="row">
                                    <div class="col-3">
                                        <item type="text" id="AdvanceDate" label="Advance Delivery Date" value="1"></item>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-flex">
                                            <input type="file" class="form-control col-8" id="inputFile" multiple accept=".txt" />
                                            <button type="button" class="btn btn-primary ms-2" id="btnImport">Import File</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mt-4" id="divProgressBar" style="visibility:hidden">
                                        <div class="progress" role="progressbar">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" id="widthProgressBar" style="width: 0%">
                                                <span class="text-center" id="spanProgressBar"> Data Has been Imported </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-5" style="text-align:center;color:red;font-size:16px;">
                            ERROR FILE
                        </div>
                        <div class="col-5" style="text-align:center;color:blue;font-size:16px;">
                            COMPLETE FILE
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-5">
                            <item type="table" id="tblERROR"></item>
                        </div>
                        <div class="col-5">
                            <item type="table" id="tblCOMPLETE"></item>
                        </div>
                        <div class="col"></div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/ServiceData/KBNIM001.js?@ViewData["Version"]"></script>
}
