<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                @*<textarea rows="20" style="width:100%">@ViewData["_MENU_"]</textarea>*@
            </div>
        </div>
    </div>

</div>

@section Scripts{


    @*<script type="text/javascript" src="~/assets/adminty/vue@3/vueApp/Home/home.index.vue.js?@ViewData["Version"]"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {

            xSplash.hide();
        });
    </script>
    }
