<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-4">
                        <item type="table" id="tblMaster"></item>
                    </div>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary col-1 float-end" id="buttonConfirm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/MSPData/KBNIM003C.js")"></script>
}
