
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row ms-1 me-4 mt-2">
                    <div class="col">
                        <div class="row justify-content-start">
                            <button type="button" id="btnInq" class="btn btn-success col-2">Inquiry</button>
                            <button type="button" id="btnUpd" class="btn btn-primary col-2">Update</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-end mt-2">
                            <button type="button" id="btnCan" class="btn btn-warning col-2">Cancel</button>
                            <a id="btnRpt" class="btn btn-success text-light col-2" data-bs-toggle="modal" data-bs-target="#KBNOR220_2_Rpt">Report</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="row">
                        <div class="input-group col-4">
                            <label class="input-group-text" for="mthDeliYM">Delivery YM</label>
                            <input type="month" class="form-control" value="@DateTime.Now.ToString("yyyy-MM")" id="mthDeliYM" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-7">
                            <label class="input-group-text" for="selSurDoc">Survey Document</label>
                            <select class="selectpicker" id="selSurDoc" data-live-search="true" data-size="7" disabled>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-7">
                            <label class="input-group-text" for="selSupCode">Supplier Code</label>
                            <select class="selectpicker" id="selSupCode" data-live-search="true" data-size="7" disabled></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <label class="input-group-text" for="selPartNo">Component Part No.</label>
                                <select class="selectpicker" id="selPartNo" data-live-search="true" data-size="7" disabled></select>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group">
                                <label class="input-group-text" for="txtPOQty">PO Qty</label>
                                <input type="text" class="form-control" id="txtPOQty" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <table class="table w-100 table-bordered col" id="tableMain">
                        <thead>
                            <tr>
                                <th class="bg-danger text-center">SUN</th>
                                <th class="bg-warning text-center">MON</th>
                                <th style="background-color:lightpink;text-align:center">TUE</th>
                                <th class="bg-success text-center">WED</th>
                                <th style="background-color:orange;text-align:center">THU</th>
                                <th style="background-color:lightskyblue;text-align:center">FRI</th>
                                <th style="background-color:mediumpurple;text-align:center">SAT</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="col-1"></div>
                </div>
                <div class="row mt-2">
                    <div class="row justify-content-end">
                        <button type="button" class="btn btn-success col-1" id="btnSave" disabled>Save</button>
                        <a class="btn btn-danger col-1 ms-2" asp-controller="OrderingProcess" asp-action="KBNOR200">Exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="KBNOR220_2_Rpt" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="KBNOR220_2_Rpt_Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="KBNOR220_2_Rpt_Label">KBNOR_220_2_Rpt : Print Survey Document</h1>
            </div>
            <div class="modal-body">
                <div class="row ms-4 mt-2">
                    <div class="input-group mt-1">
                        <label class="input-group-text" for="modalSelCustOrd">Customer OrderNo : </label>
                        <select class="selectpicker" id="modalSelCustOrd" data-live-search="true" data-size="7">
                            <option value="" hidden></option>
                        </select>
                    </div>
                    <div class="input-group mt-1">
                        <label class="input-group-text" for="modalSelSuppCd">Supplier Code : </label>
                        <select class="selectpicker" id="modalSelSuppCd" data-live-search="true" data-size="7">
                            <option value="" hidden></option>
                        </select>
                    </div>
                    <div class="row mt-2">
                        <div class="col-1"></div>
                        <input type="text" class="form-control col-6" value="" id="modalTxtSupName" readonly/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnPrintRpt">Print</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialOrdering/KBNOR220_2.js")"></script>
}