
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-4">
                        <button type="button" class="btn btn-rounded btn-outline-dark col-5" id="btnChkAll">Check All</button>
                        <button type="button" class="btn btn-rounded btn-outline-dark col-5" id="btnUnChkAll">UnCheck All</button>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <div class="input-group col-12 p-0">
                                <label for="selApprove" class="input-group-text">Approve By</label>
                                <select class="selectpicker col-8 p-0" data-live-search="true" id="selApprove" data-limit="8">
                                    <option value="" hidden>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-rounded btn-success col-3" id="btnResend" data-bs-toggle="modal" data-bs-target="#KBNOR260_1">Re-Send</button>
                            <button type="button" class="btn btn-rounded btn-primary col-4 ms-1" id="btnSendApprove">
                                Send Approve
                            </button>
                            <a asp-controller="OrderingProcess" asp-action="KBNOR200" class="btn btn-danger btn-rounded col-3 ms-1">Exit</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <table class="table table-bordered text-center w-100" id="tableMain">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="KBNOR260_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="KBNOR260_1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="KBNOR260_1Label">KBNOR260_1 : Re-Send Approve PDS Special Data</h1>
            </div>
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-4">
                        <button type="button" class="btn btn-rounded btn-outline-dark col-5" id="modalBtnChkAll">Check All</button>
                        <button type="button" class="btn btn-rounded btn-outline-dark col-5" id="modalBtnUnChkAll">UnCheck All</button>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <div class="input-group col-12 p-0">
                                <label for="modalSelApprove" class="input-group-text">Approve By</label>
                                <select class="selectpicker col-8 p-0" data-live-search="true" id="modalSelApprove" data-limit="8">
                                    <option value="" hidden>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-rounded btn-success col-4" id="modalBtnResend">Re-Send</button>
                            <button type="button" class="btn btn-rounded btn-danger col-4 ms-1" data-bs-dismiss="modal">Exit</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <table class="table table-bordered text-center w-100" id="modalTableMain">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialOrdering/KBNOR260.js")"></script>
}