
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row mt-2">
                    <h4>Search Data</h4>
                </div>
                <div class="row mt-2">
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group">
                                <label for="mthDeliYM" class="input-group-text">Delivery YM</label>
                                <input type="month" class="form-control col-4" id="mthDeliYM" value="@DateTime.Now.ToString("yyyy-MM")"/>
                            </div>
                            <div class="input-group">
                                <label for="selCustOrder" class="input-group-text">Customer OrderNo</label>
                                <select class="selectpicker form-control col-6" id="selCustOrder" data-live-search="true" data-size="8">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <table class="table table-bordered w-100" id="tableMain">
                    </table>
                </div>
                <div class="row mt-2 justify-content-end">
                    <button type="button" class="btn btn-rounded btn-primary col-2" id="btnReport">Report</button>
                    <a asp-controller="OrderingProcess" asp-action="KBNOR200" class="btn btn-danger btn-rounded ml-2 col-2">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialOrdering/KBNOR297.js")"></script>
}