<!-- Modal -->
<div class="modal fade" id="KBNOR210_1_STC_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="KBNOR210_1_STC_3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="KBNOR210_STC_3Label">KBNOR_210_STC_3 : Use Stock Part</h1>
            </div>
            <div class="modal-body">
                <div class="row ms-4 mt-2">
                    <p>Customer Order No. : <span id="spanCustomerOrderNo" class="text-primary"></span> </p>
                    
                    <table id="tableKBNOR210_1_STC_3" class="table table-bordered w-100">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSTC_3Save">Save changes</button>
                <button type="button" class="btn btn-secondary" id="btnSTC_3Clear">Clear</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="KBNOR210_1_STC_3_1" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="KBNOR210_1_STC_3_1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="KBNOR210_1_STC_3_1Label">KBNOR210_1_STC_3_1</h1>
            </div>
            <div class="modal-body">
                <div class="row ms-4 mt-2">
                    <table id="tableKBNOR210_1_STC_3_1" class="table table-bordered w-100">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSTC_3_1Save">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>