
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <div class="divProcessDate">
                        <div class="row">

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Process Date</label>
                                    <input type="text" class="form-control" id="readProcessDate" name="readProcessDate" readonly>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Plant</label>
                                    <input type="text" class="form-control" id="readPlant" name="readPlant" readonly>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Process Shift</label>
                                    <input type="text" class="form-control" id="readProcessShift" name="readProcessShift" readonly>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Type Order</label>
                                    <input type="text" class="form-control" id="readTypeOrder" name="readTypeOrder" value="SPECIAL" readonly>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="divButton" class="row mt-4 justify-content-start">
                        <button type="button" class="btn btn-outline-dark col-1 " id="btnCheckAll">CheckAll</button>
                        <button type="button" class="btn btn-outline-dark col-1 " id="btnUncheckAll">UncheckAll</button>
                        <div class="col">
                            <div class="input-group">
                                <label class="input-group-text">New Customer OrderNo :</label>
                                <input type="text" class="form-control" id="inpNewCustomerOrderNo" name="inpNewCustomerOrderNo">
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-dark col-1 " id="btnMerge" disabled>Merge</button>
                        <button type="button" class="btn btn-outline-warning col-1 " id="btnReport">Report</button>
                        <button type="button" class="btn btn-outline-danger col-1 " id="btnExit">Exit</button>
                    </div>

                    <div id="divDeliveryDate" class="row ms-2 mt-4">

                        <div class="col-4">
                            <input type="checkbox" class="form-check-input" id="chkDeliveryDate" checked />
                            <label class="form-check-label" for="chkDeliveryDate">Delivery Date</label>
                            <input type="month" class="form-control" id="inpDeliveryDate" value="@DateTime.Now.ToString("yyyy-MM")" />
                        </div>

                        <div class="col-4">
                            <input type="checkbox" class="form-check-input" id="chkCustomerOrderNo" />
                            <label class="form-check-label" for="chkCustomerOrderNo">Customer Order No:</label>
                            <input type="text" class="form-control" id="inpCustomerOrderNo" name="inpCustomerOrderNo" disabled>
                        </div>
                    </div>

                    <div class="mt-4">
                        <table id="tableMain" class="table w-100">
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialOrdering/KBNOR210_2.js")"></script>
}
