
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form id="frmCondition">
                    <div class="divProcessDate">
                        <div class="row">

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Process Date</label>
                                    <input type="text" class="form-control" id="readProcessDate" name="readProcessDate" readonly>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Plant</label>
                                    <input type="text" class="form-control" id="readPlant" name="readPlant" readonly>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Process Shift</label>
                                    <input type="text" class="form-control" id="readProcessShift" name="readProcessShift" readonly>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Type Order</label>
                                    <input type="text" class="form-control" id="readTypeOrder" name="readTypeOrder" value="SPECIAL" readonly>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="divCustomer" class="row mt-4 justify-content-start">
                        <div class="col-10">

                            <div class="row">
                                <div class="col p-0">
                                    <div class="input-group">
                                        <label class="input-group-text">Cust. OrderNo</label>
                                        <select class="selectpicker ps-0 pe-0 col-7" data-live-search="true" id="inpCustomerOrderNo" name="inpCustomerOrderNo">
                                            <option value="" hidden></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="checkbox" class="form-check-inline" id="chkDate" name="chkDate">
                                        <label class="input-group-text">Delivery Date From</label>
                                        <input type="text" class="form-control" id="inpDateFrom" name="inpDateFrom" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <label class="input-group-text">Delivery Date To</label>
                                        <input type="text" class="form-control" id="inpDateTo" name="inpDateTo" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col p-0">
                                    <div class="input-group">
                                        <label class="input-group-text">Supplier Code</label>
                                        <select class="selectpicker ps-0 col-7" data-live-search="true" id="inpSupplier" name="inpSupplier">
                                            <option value="" hidden></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="readSupplier" name="readSupplier" readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <a class="btn btn-outline-dark col" id="btnMergeReport">Merge Report</a>
                                        <a class="btn btn-outline-dark col" id="btnDeletePartsReport">Delete Parts Report</a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col p-0">
                                    <div class="input-group">
                                        <label class="input-group-text">Part No.</label>
                                        <select class="selectpicker ps-0 col-8" data-live-search="true" id="inpPartNo" name="inpPartNo">
                                            <option value="" hidden></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="readPartNo" name="readPartNo" readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <a class="btn btn-outline-dark col" id="btnSearch">Search</a>
                                        <a class="btn btn-outline-dark col" id="btnClear">Clear</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col">
                            <a class="btn btn-success text-light " id="btnUseCommonParts" data-bs-toggle="modal" data-bs-target="#KBNOR210_1_STC_3" data-bs-customer="">Use Common Parts</a>
                            <a class="btn btn-success mt-1 text-light" id="btnSpecialStockReport" >Special Stock Report</a>
                            <a class="btn btn-success mt-1 text-light" id="btnSetupStockRemain" data-bs-toggle="modal" data-bs-target="#KBNOR210_1_STC_1">Setup Stock Remain</a>
                        </div>

                    </div>

                    <div class="row mt-4">
                        <a class="btn btn-outline-dark ms-2 col-1" id="btnCheck">CheckAll</a>
                        <a class="btn btn-outline-dark col-1" id="btnUncheck">UncheckAll</a>
                        <div class="col-2"></div>
                        <div class="input-group col-4">
                            <label class="input-group-text">New Delivery Date :</label>
                            <input type="text" class="form-control" id="inpNewDeliveryDate" name="inpNewDeliveryDate" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                        </div>
                    </div>

                    <div class="mt-4">
                        <table id="tableMain" class="table w-100 table-bordered">
                        </table>
                    </div>

                    <div class="row mt-4 justify-content-end">
                        <a class="btn btn-primary col-1 text-light" id="btnSave">Save</a>
                        <a class="btn btn-danger col-1 text-light" id="btnDelete">Delete</a>
                        <a class="btn btn-warning col-1 text-light" id="btnExit">Exit</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<partial name="KBNOR210_1_STC_1.cshtml" />
<partial name="KBNOR220_1_STC_3.cshtml" />

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialOrdering/KBNOR210_1.js")"></script>
}
