
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row">
                    <table class="table w-100 table-bordered" id="tableMain">

                    </table>
                </div>
                <div class="row justify-content-end mt-2">
                    <button type="button" id="btnConfirm" class="btn btn-success col-2">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/SpecialOrdering/KBNOR294.js")"></script>
}
