<!-- Modal -->
<div class="modal fade" id="KBNOR210_1_Del" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="KBNOR210_1_DelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="KBNOR210_1_DelLabel">KBNOR210_1_Del : History Delete Parts in Customer OrderNo Report Report</h1>
            </div>
            <div class="modal-body">

                <div class="ms-4 mt-2">
                    <div id="Del_Div" class="row">

                        <div class="input-group">
                            <label class="input-group-text">Delivery YM : </label>
                            <input type="text" class="form-control" id="inpDel_YM">
                        </div>

                        <div class="input-group">
                            <label class="input-group-text">Supplier Code : </label>
                            <select class="selectpicker ps-0 col-7" data-live-search="true" id="inpDel_Supplier" name="inpDel_Supplier">
                                <option value="" hidden></option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label class="input-group-text">Part No From: </label>
                            <select class="selectpicker ps-0 col-7" data-live-search="true" id="inpDel_PartFrom" name="inpDel_PartFrom">
                                <option value="" hidden></option>
                            </select>
                        </div> 
                        
                        <div class="input-group">
                            <label class="input-group-text">Part No To: </label>
                            <select class="selectpicker ps-0 col-7" data-live-search="true" id="inpDel_PartTo" name="inpDel_PartTo">
                                <option value="" hidden></option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnDel_Report">Report</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>