<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                    <fieldset class="fieldset">
                        <legend>Data : </legend>

                        <div class="row">
                            <div class="col-3">
                                <select class="form-select" id="SelectPDSNo">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" id="buttonSearch">Search</button>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <fieldset class="fieldset" id="fldDeliveryDate" disabled>
                                    <legend><item type="checkbox" id="chkDeliveryDate" label="Search by Delivery Date :"></item></legend>
                                    <div class="row">
                                        <div class="col-3">
                                            <item type="date" id="F_DeliveryFrom" label="From" format="yyyy-mm-dd" default="now"></item>
                                        </div>
                                        <div class="col-3">
                                            <item type="date" id="F_DeliveryTo" label="To" format="yyyy-mm-dd" default="now"></item>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </fieldset>
                </form>

                <div class="row">
                    <div class="col mt-2">
                        <item type="table" id="tblMaster" regend="Maintenance Data"></item>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="align-content-end">
                        <button type="button" class="btn btn-success float-end" id="buttonSave">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/.script/UrgentOrder/KBNIM014C.js?@ViewData["Version"]"></script>
}
