<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="mt-4 d-flex">
                    <label class="form-label me-2 align-content-center" for="inputFile">Import File : </label>
                    <input type="file" class="form-control col-6" id="inputFile" accept=".txt" />
                    @* <div class="col-3"></div> *@
                    <button class="btn btn-primary ms-2" id="btnImport">Import</button>
                </div>
                <div class="mt-4" id="divProgressBar" style="visibility:hidden">
                    <div class="progress" role="progressbar">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="widthProgressBar" style="width: 0%">
                            <span class="text-center" id="spanProgressBar"> Data Has been Imported </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <span style="color:blue;font-size:20px;">REMARK : กรุณานำไฟล์ที่มี Packing Code เข้าระบบด้วยค่ะ</span><br />
                        <span style="color:blue;font-size:16px;">**สำหรับข้อมูลที่นำเข้านั้น รูปแบบจะต้องใช้ | กั้นเท่านั้น เช่น</span><br />
                        <span style="color:blue;font-size:14px;">1|HMT1|E|HINO MOTORS MANUFACTURING (THAILAND) LIMITED|P|BANPHO|PN|1|1P HMT1EPNA2694|2018052401|</span><br /><br />
                        <span style="color:red;font-size:16px;">**สำหรับข้อมูลผิดรูปแบบและไม่สามารถนำเข้าได้ เช่น</span><br />
                        <span style="color:red;font-size:14px;">1	HMT1	E	HINO MOTORS MANUFACTURING (THAILAND) LIMITED	P	BANPHO	PN	1	1P HMT1EPNA2694	2018052401</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/.script/UrgentOrder/KBNIM014.js?@ViewData["Version"]"></script>
}
