@{
    Layout = null;
}
<html>
    <head>
        <title>Kanban Setup</title>
    </head>
    <body>
        Seting up...



    Computer Name : @ViewData["ComputerName"]
    <br />
    Username : @ViewData["Username"]


    </body>
</html>