@model TB_MS_RatioAddress;

<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row ps-2 pe-2 mb-4">
                    <div class="col-7">
                        <div id="divBtn" class="row">
                            <button type="button" class="btn btn-primary btn-rounded col-2" id="btnInq">Inquiry</button>
                            <button type="button" class="btn btn-success btn-rounded col-2" id="btnNew">New</button>
                            <button type="button" class="btn btn-warning btn-rounded col-2" id="btnUpd">Update</button>
                            <button type="button" class="btn btn-danger btn-rounded col-2" id="btnDel">Delete</button>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-dark btn-rounded col-2" id="btnCan">Cancel</button>
                            <a class="btn btn-danger btn-rounded col-2" asp-action="index" asp-controller="home">Exit</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <table id="tableMain" class="table table-bordered border-2 border-dark w-100"></table>
                </div>

                <form id="formMain">

                    <div class="row mt-4">
                        
                        <div class="col-4">

                            <div class="input-group">

                                <label class="input-group-text" asp-for="F_Part_No"></label>
                                <select class="selectpicker p-0 col-8" asp-for="F_Part_No" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>

                            </div>

                        </div>

                        <div class="col-6">
                            <input type="text" class="form-control col-10" id="F_Part_Name" name="F_Part_Name" readonly />
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Store_Cd"></label>
                                <select class="selectpicker p-0 col-8" asp-for="F_Store_Cd" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Address1"></label>
                                <select class="selectpicker p-0 col-8" asp-for="F_Address1" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Address2"></label>
                                <select class="selectpicker p-0 col-8" asp-for="F_Address2" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Address3"></label>
                                <select class="selectpicker p-0 col-8" asp-for="F_Address3" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">

                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Ratio1"></label>
                                <input type="number" class="form-control col-6" asp-for="F_Ratio1" />

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Ratio2"></label>
                                <input type="number" class="form-control col-6" asp-for="F_Ratio2" />

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Ratio3"></label>
                                <input type="number" class="form-control col-6" asp-for="F_Ratio3" />

                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

@using HINOSystem.Models.KB3.Master
@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS017.js")"></script>
}