@model VM_KBNMS027
<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row">
                    <div class="col-7">
                        <div id="divBtn" class="row">
                            <button type="button" class="btn btn-primary btn-rounded col-2" id="btnInq">Inquiry</button>
                            <button type="button" class="btn btn-success btn-rounded col-2" id="btnNew">New</button>
                            <button type="button" class="btn btn-warning btn-rounded col-2" id="btnUpd">Update</button>
                            <button type="button" class="btn btn-danger btn-rounded col-2" id="btnDel">Delete</button>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-dark btn-rounded col-2" id="btnCan">Cancel</button>
                            <a class="btn btn-outline-danger btn-rounded col-2" asp-action="index" asp-controller="home">Exit</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <table id="tableMain" class="table table-bordered border-2 border-dark w-100">
                    </table>
                </div>

                <div class="row mt-4">

                    <div class="row">

                        <div class="col-5">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Short_Logistic"></label>
                                <select asp-for="F_Short_Logistic" class="selectpicker form-control col-7 p-0" data-live-search="true" data-size="8" data-width="100%" disabled>
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-5">
                            <span class="text-danger">Remark : Supplier Logistic ไม่เลือกออกหมด</span>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-5">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Short_Name"></label>
                                <select asp-for="F_Short_Name" class="selectpicker form-control col-7 p-0" data-live-search="true" data-size="8" data-width="100%" disabled>
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_Supplier_CD"></label>
                                <select asp-for="F_Supplier_CD" class="selectpicker form-control col-7 p-0" data-live-search="true" data-size="8" data-width="100%" disabled>
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-7">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="F_name"></label>
                                <input asp-for="F_name" class="form-control col-10" readonly />
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col">
                        <div class="row justify-content-start">
                            <button type="button" class="btn btn-success btn-rounded col-3" id="btnSelAll">Select All</button>
                            <button type="button" class="btn btn-primary btn-rounded col-3" id="btnDeselAll">Deselect All</button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-success btn-rounded col-2" id="btnSave">Save</button>
                            <button type="button" class="btn btn-primary btn-rounded col-2" id="btnRpt">Report</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>



@using KANBAN.Libs
@using KANBAN.Models.KB3.Master.ViewModel
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS027.js")"></script>
}