@model TB_MS_Heijunka;

<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row ps-2 pe-2 mb-4">
                    <div class="col-7">
                        <div id="divBtn" class="row">
                            <button type="button" class="btn btn-primary btn-rounded col-2" id="btnInq">Inquiry</button>
                            <button type="button" class="btn btn-success btn-rounded col-2" id="btnNew">New</button>
                            <button type="button" class="btn btn-warning btn-rounded col-2" id="btnUpd">Update</button>
                            <button type="button" class="btn btn-danger btn-rounded col-2" id="btnDel">Delete</button>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-dark btn-rounded col-2" id="btnCan">Cancel</button>
                            <a class="btn btn-danger btn-rounded col-2" asp-action="index" asp-controller="home">Exit</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <table id="tableMain" class="table table-bordered border-2 border-dark w-100"></table>
                </div>

                <form class="mt-2" id="formMain">

                    <div class="row">

                        <div class="col-3">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_CycleB"></label>
                                <select class="selectpicker p-0 col-8" asp-for="F_CycleB" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round1"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round1" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round2"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round2" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round3"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round3" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round4"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round4" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round5"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round5" />
                            </div>

                        </div>                        

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round6"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round6" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round7"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round7" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round8"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round8" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round9"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round9" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round10"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round10" />
                            </div>

                        </div>


                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round11"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round11" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round12"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round12" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round13"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round13" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round14"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round14" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round15"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round15" />
                            </div>

                        </div>


                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round16"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round16" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round17"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round17" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round18"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round18" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round19"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round19" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round20"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round20" />
                            </div>

                        </div>


                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round21"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round21" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round22"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round22" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round23"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round23" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round24"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round24" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round25"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round25" />
                            </div>

                        </div>


                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round26"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round26" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round27"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round27" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round28"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round28" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round29"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round29" />
                            </div>

                        </div>

                        <div class="col">

                            <div class="input-group">
                                <label class="input-group-text col-5" asp-for="F_Round30"></label>
                                <input type="number" value="0" class="form-control" asp-for="F_Round30" />
                            </div>

                        </div>


                    </div>


                </form>

                <div class="row mt-2 justify-content-start">

                    <div class="d-flex justify-content-end col-12">
                        <button type="button" class="btn btn-success btn-rounded col-1" id="btnSave">Save</button>
                        <button type="button" class="btn btn-primary btn-rounded col-1" id="btnReport">Report</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>



@using HINOSystem.Models.KB3.Master
@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS018.js")"></script>
}