<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">

                </form>

                <div class="row">
                    <div class="col mt-4">
                        <table id="tableMain" class="table w-100 table-bordered">

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/.script/Master/KBNMS022.js?@ViewData["Version"]"></script>
}
