@model TB_MS_Remark_DocSheet;

<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row mb-4">
                    <div class="col-7">
                        <div id="divBtn" class="row">
                            <button type="button" class="btn btn-primary btn-rounded col-2" id="btnInq">Inquiry</button>
                            <button type="button" class="btn btn-success btn-rounded col-2" id="btnNew">New</button>
                            <button type="button" class="btn btn-warning btn-rounded col-2" id="btnUpd">Update</button>
                            <button type="button" class="btn btn-danger btn-rounded col-2" id="btnDel">Delete</button>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-dark btn-rounded col-2" id="btnCan">Cancel</button>
                            <a class="btn btn-danger btn-rounded col-2" asp-action="index" asp-controller="home">Exit</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table id="tableMain" class="table table-bordered border-2 border-dark w-100"></table>
                </div>

                <form id="formMain">
                    
                    <div class="row mt-4">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_Dock_Cd"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_Dock_Cd" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <span class="text-danger">Remark : Dock Code ไม่เลือกออกหมด</span>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic1"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic1" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark1"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark1"/>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic2"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic2" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark2"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark2" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic3"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic3" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark3"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark3" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic4"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic4" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark4"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark4" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic5"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic5" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark5"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark5" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic6"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic6" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark6"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark6" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic7"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic7" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark7"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark7" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic8"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic8" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark8"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark8" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic9"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic9" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark9"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark9" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic10"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic10" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark10"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark10" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic11"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic11" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark11"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark11" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic12"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic12" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark12"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark12" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic13"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic13" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark13"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark13" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic14"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic14" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark14"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark14" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic15"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic15" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark15"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark15" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic16"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic16" data-live-search="true" data-size="6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark16"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark16" />
                            </div>

                        </div>

                    </div>

                    <input type="hidden" asp-for="F_Update_By" />
                    <input type="hidden" asp-for="F_Plant" />
                    <input type="hidden" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" asp-for="F_Update_Date" />

                </form>

                <div class="row mt-4">

                    <div class="col">
                        <div class="row justify-content-start">
                            <button type="button" class="btn btn-success btn-rounded col-3" id="btnSelAll">Select All</button>
                            <button type="button" class="btn btn-primary btn-rounded col-3" id="btnDeselAll">Deselect All</button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-success btn-rounded col-2" id="btnSave">Save</button>
                            <button type="button" class="btn btn-primary btn-rounded col-2" id="btnRpt">Report</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

@using HINOSystem.Models.KB3.Master
@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS028.js")"></script>
}
