<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row">
                        
                    <div class="col-1 invisible">

                    </div>

                    <div class="col-7" id="divBtn">

                        <button type="button" class="btn btn-success col-2" id="btnInq">Inquiry</button>
                        <button type="button" class="btn btn-primary col-2" id="btnNew">New</button>
                        <button type="button" class="btn btn-warning col-2" id="btnUpd">Update</button>
                        <button type="button" class="btn btn-danger col-2" id="btnDel">Delete</button>
                        
                    </div>

                    <div class="col-3">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-warning col-4" id="btnCan">Cancel</button>
                            <a class="btn btn-danger col-4" asp-controller="Home" asp-action="Index">Exit</a>
                        </div>
                    </div>

                    <div class="col-1 invisible">

                    </div>

                </div>

                <div class="row mt-4">

                    <div class="row justify-content-center">

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="inpLine">Line</label>
                                    <select class="selectpicker col-6 ps-0" id="inpLine" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="readLine">Line :</label>
                                    <input type="text" class="form-control col-6" id="readLine" readonly>
                                </div>
                            </div>

                    </div>

                    <div class="row justify-content-center">

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="inpPartCode">Part Code :</label>
                                    <select class="selectpicker col-6 ps-0" id="inpPartCode" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="readPartCode">Part Code :</label>
                                    <input type="text" class="form-control col-6" id="readPartCode" readonly>
                                </div>
                            </div>

                    </div>
                    
                    <div class="row justify-content-center">

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="inpPartNo">Part No :</label>
                                    <select class="selectpicker col-6 ps-0" id="inpPartNo" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="readPartNo">Part No :</label>
                                    <input type="text" class="form-control col-6" id="readPartNo" readonly>
                                </div>
                            </div>

                    </div>
                    
                    <div class="row justify-content-center">

                            <div class="col-5">
                                <div class="input-group invisible">
                                    <label class="input-group-text col-3" for="inpInvis">Part No :</label>
                                    <select class="selectpicker col-6 ps-0" id="inpInvis" data-live-search="true" data-limit="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="input-group">
                                    <label class="input-group-text col-3" for="readPartName">Part Name :</label>
                                    <input type="text" class="form-control col-6" id="readPartName" readonly>
                                </div>
                            </div>

                    </div>
                    
                    
                    <div class="row justify-content-center">

                            <div class="col-10">
                                <div class="input-group">
                                    <label class="input-group-text col-2" for="readDetail">Detail :</label>
                                    <input type="text" class="form-control col-9" id="readDetail" readonly>
                                </div>
                            </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col mt-4">
                        <table class="table table-bordered w-100" id="tableMain">

                        </table>
                    </div>
                </div>

                <div class="row mt-4">

                    <div class="col-1 invisible">

                    </div>

                    <div class="col">
                        <div class="row justify-content-start">
                            <button type="button" class="btn btn-primary col-3" id="btnSelAll">Select All</button>
                            <button type="button" class="btn btn-warning col-3" id="btnDeselAll">Deselect All</button>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-primary col-3" id="btnSave">
                                <i class="fas fa-save"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-success col-3" id="btnReport">
                                <i class="fa-solid fa-book"></i>
                                Report
                            </button>
                        </div>
                    </div>

                    <div class="col-1 invisible">

                    </div>

                </div>

            </div>
        </div>
    </div>

</div

@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS021.js")"></script>
}
