<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
@*
                    <div class="row">
                        <div class="col-6">
                            <item type="select" id="F_Plant" label="Plant" value="3" readonly></item>
                        </div>
                    </div>
*@
                </form>


                <div class="row">
                    <div class="col mt-2">
                        <div class="bg-white border rounded-3">
                            <section class="w-100 p-2">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="bg-white border rounded-3">
                                            <section class="w-100 p-2">
                                                <table id="tblMaster" class="display" style="width:100%"></table>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="bg-white border rounded-3">
                                            <section class="w-100 p-2">
                                                <table id="tblDetail" class="display" style="width:100%"></table>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="row">
                                            <div class="col">
                                                <item type="button" id="btnClearData" label="Clear Data" style="width:100%"></item>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mt-5"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col mt-5">
                                                <item type="button" id="btnSave" label="Save" style="width:100%"></item>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mt-2">
                                                <item type="button" id="btnCancel" label="Cancel" style="width:100%"></item>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mt-2">
                                                <item type="button" id="btnCheckList" label="Check List" style="width:100%"></item>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mt-2">
                                                <item type="button" id="btnPrint" label="Print" style="width:100%"></item>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <div class="bg-white border rounded-3">
                            <section class="w-100 p-2">
                                <div class="row">
                                    <div class="col-8">
                                        <item type="file" id="fileUpload"></item>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/.script/Master/KBNMS009.js?@ViewData["VersionJS"]"></script>
}
