<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmData">

                    <div class="row">
                        <div class="col-9">
                            <div class="row">

                                <div class="col-5">

                                    <div class="input-group">
                                        <span class="input-group-text col-5">Supplier</span>
                                        <input class="form-select" type="text" list="dlSup" name="inpSup" id="inpSup" />
                                        <datalist id="dlSup">
                                        </datalist>
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-5">

                                    <div class="input-group">
                                        <span class="input-group-text col-5">Kanban</span>
                                        <input class="form-select" type="text" list="dlKB" name="inpKB" id="inpKB" />
                                        <datalist id="dlKB">
                                        </datalist>
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="input-group">
                                        <span class="input-group-text">To</span>
                                        <input class="form-select" type="text" list="dlKBT" name="inpKBT" id="inpKBT" />
                                        <datalist id="dlKBT">
                                        </datalist>
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-5">

                                    <div class="input-group">
                                        <span class="input-group-text col-5">Store Code</span>
                                        <input class="form-select" type="text" list="dlStore" name="inpStore" id="inpStore" />
                                        <datalist id="dlStore">
                                        </datalist>
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="input-group">
                                        <span class="input-group-text">To</span>
                                        <input class="form-select" type="text" list="dlStoreT" name="inpStoreT" id="inpStoreT" />
                                        <datalist id="dlStoreT">
                                        </datalist>
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-5">

                                    <div class="input-group">
                                        <span class="input-group-text col-5">Part No</span>
                                        <input class="form-select" type="text" list="dlPart" name="inpPart" id="inpPart" />
                                        <datalist id="dlPart">
                                        </datalist>
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="input-group">
                                        <span class="input-group-text">To</span>
                                        <input class="form-select" type="text" list="dlPartT" name="inpPartT" id="inpPartT" />
                                        <datalist id="dlPartT">
                                        </datalist>
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-5">

                                    <div class="input-group">
                                        <span class="input-group-text col-5">DEL. Date FROM</span>
                                        <input class="form-control col-11" type="text" name="inpDate" id="inpDate" />
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="input-group">
                                        <span class="input-group-text">To</span>
                                        <input class="form-control col-11" type="text" name="inpDateT" id="inpDateT" />
                                    </div>

                                </div>

                            </div>

                            

                        </div>

                        <div class="col">

                            <div class="row justify-content-start">

                                <textarea class="form-control bg-danger text-light fw-bolder" id="txtAreaDG" rows="3" readonly>
    Order < Average/Trip - (Average/Trip * 0.3) = RED BL < ForecastMax * SafetyStock * 0.6 = RED
                                </textarea>

                                <textarea class="form-control bg-primary text-light fw-bolder" id="txtAreaPM" rows="3" readonly>
    Order > Average/Trip + (Average/Trip * 0.3) = BLUE BL > ForecastMax * SafetyStock * 1.4 = BLUE
                                </textarea>

                            </div>


                        </div>



                    </div>

                    <h5 class="mt-2"> Status </h5>

                    <div class="row">

                        <div class="col-1 ms-4">
                            <input type="checkbox" class="form-check-input" id="chkOK" name="chkOK">
                            <label class="form-check-label align-center fw-bold" for="chkOK">OK</label>
                        </div>

                        <div class="col-1">
                            <input type="checkbox" class="form-check-input" id="chkNO" name="chkNO">
                            <label class="form-check-label align-center fw-bold" for="chkNO">NO</label>
                        </div>

                        <div class="col-2">
                            <input type="checkbox" class="form-check-input" id="chkPS" name="chkPS">
                            <label class="form-check-label align-center fw-bold" for="chkPS">PARTS SHORTAGE</label>
                        </div>

                        <div class="col-1">
                            <button type="button" class="btn btn-success col" id="btnSearch">Search</button>
                        </div>

                        <div class="col-1">
                            <button type="button" class="btn btn-primary col" id="btnReport" disabled>Report</button>
                        </div>

                        <div class="col-1">
                            <button type="button" class="btn btn-warning col" id="btnCancel">Cancel</button>
                        </div>

                        <div class="col-1">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-danger col" id="btnExit">Exit</a>
                        </div>

                    </div>

                </form>

                <form class="mt-4" id="formReadData">

                    <div class="row">

                        <div class="col p-0" style="flex:0 0 10%">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">PART NO.</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readPart" name="readPart" readonly />
                            </div>
                        </div>

                        <div class="col p-0" style="flex:0 0 7%">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">Store Code</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readStore" name="readStore" readonly />
                            </div>
                        </div>

                        <div class="col-2 p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">PART NAME</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readPartName" name="readPartName" readonly />
                            </div>
                        </div>

                        <div class="col p-0" style="flex:0 0 8%">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center mb-0">Supplier</label>
                                <label class="d-flex justify-content-center">Name</label>
                                <input type="text" class="form-control text-center" id="readSup" name="readSup" readonly />
                            </div>
                        </div>

                        <div class="col p-0" style="flex:0 0 7%">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">Kanban No</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readKanban" name="readKanban" readonly />
                            </div>
                        </div>

                        <div class="col p-0" style="flex:0 0 8%">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">CYCLE</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readCycle" name="readCycle" readonly />
                            </div>
                        </div>

                        <div class="col p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">QTY/PACK</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readQty" name="readQty" readonly />
                            </div>
                        </div>

                        <div class="col p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">FORECAST/MAX</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readForeMax" name="readForeMax" readonly />
                            </div>
                        </div>

                        <div class="col p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center mb-0">CURRENT</label>
                                <label class="d-flex justify-content-center">USE</label>
                                <input type="text" class="form-control text-center" id="readCurrent" name="readCurrent" readonly />
                            </div>
                        </div>

                        <div class="col p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">AVERAGE/TRIP</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readAvg" name="readAvg" readonly />
                            </div>
                        </div>

                        <div class="col p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center">STD.STOCK</label>
                                <br>
                                <input type="text" class="form-control text-center" id="readStd" name="readStd" readonly />
                            </div>
                        </div>

                        <div class="col p-0">
                            <div class="form-group pt-0 pb-0 ps-0 pe-1">
                                <label class="d-flex justify-content-center mb-0">SAFETY</label>
                                <label class="d-flex justify-content-center">STOCK</label>
                                <input type="text" class="form-control text-center" id="readSafe" name="readSafe" readonly />
                            </div>
                        </div>

                    </div>

                </form>

                <div class="row">

                    <div class="col">
                        <div class="d-flex justify-content-start">
                            <h6 id="h6Date" class="fw-bolder">Date ==></h6>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="d-flex justify-content-end">
                            <h6 class="fw-bolder col" id="h6UpdateStock">Update Stock Last :</h6>
                            <h6 class="fw-bolder col-4" id="h6Shift">Shift :</h6>
                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <table class="table table-bordered w-100" id="tableMain"></table>
                </div>
                
                <div class="row mt-4">
                    <div class="col d-flex justify-content-center align-items-center">
                        <span class="fw-bolder">Status</span>
                    </div>
                    <div class="col-11">

                        <table class="table table-bordered m-0 border-2 border-dark" id="tableStatus">
                            <tbody>
                                <tr>
                                    <td class="text-center border-end border-2 border-dark fw-bolder" id="statusOK">OK</td>
                                    <td class="text-center fw-bolder" id="statusNO">NO</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row mt-4">

                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-dark btn-rounded m-0" id="btnPrev" style="flex:0 0 6.5%"><i class="fa-solid fa-backward-step"></i></a>
                            <input class="form-control text-center bg-light col-1" type="text" name="inpPage" value="1/1" id="inpPage" readonly />
                        <a class="btn btn-outline-dark btn-rounded m-0" id="btnNext" style="flex:0 0 6.5%"><i class="fa-solid fa-forward-step"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS005.js")"></script>
}
