<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row">

                    <div class="col-3">
                        <table id="tableSup" class="table table-bordered border-2 border-dark w-100">
                        </table>
                    </div>

                    <div class="col-7">
                        <table id="tableMain" class="table table-bordered border-2 border-dark w-100">
                        </table>
                    </div>

                    <div class="col-2">

                        <div class="row">
                            <button type="button" id="btnClearData" class="btn btn-outline-danger">Clear Data</button>
                        </div>

                        <div class="row mt-2">
                            <button type="button" id="btnSave" class="btn btn-outline-success">Save</button>
                        </div>

                        <div class="row mt-2">
                            <button type="button" id="btnCancel" class="btn btn-outline-warning">Cancel</button>
                        </div> 
                        
                        <div class="row mt-2">
                            <button type="button" id="btnCheckList" class="btn btn-outline-dark">Check List</button>
                        </div>
                        
                        <div class="row mt-2">
                            <button type="button" id="btnPrint" class="btn btn-outline-primary">Print</button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS009.js")"></script>
}
