<style>
    #tableMain tbody tr td {
        text-align: center;
    }

    #tableMain thead tr th {
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectSupplier" data-live-search="true" data-width="100%" title="Supplier Code : "></select>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <label class="input-group-text col-4" for="readSupplier">Supplier Code : </label>
                            <input type="text" class="form-control" id="readSupplier" readonly>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <label class="input-group-text col-5" for="readCycle">Cycle : </label>
                            <input type="text" class="form-control" id="readCycle" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-5">
                        <div class="input-group">
                            <label class="input-group-text col-4" for="readSupplierName">Supplier Name : </label>
                            <input type="text" class="form-control" id="readSupplierName" readonly>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <label class="input-group-text col-5" for="readSafetyStock">Safety Stock : </label>
                            <input type="text" class="form-control" id="readSafetyStock" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectKanban" data-live-search="true" data-width="100%" title="Kanban No. : "></select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectKanbanTo" data-live-search="true" data-width="100%" title="TO : "></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectStore" data-live-search="true" data-width="100%" title="Store Code : "></select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectStoreTo" data-live-search="true" data-width="100%" title="TO : "></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectPart" data-live-search="true" data-width="100%" title="Part No. : "></select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <select class="SelectPicker text-dark" id="selectPartTo" data-live-search="true" data-width="100%" title="TO : "></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="selectDelivery" readonly />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="selectDeliveryTo" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="row justify-content-end">
                            <div class="col-2 me-2">
                                <button type="button" id="btnSearch" class="btn btn-rounded btn-outline-dark">Search</button>
                            </div>
                            <div class="col-2">
                                <button type="button" id="btnExit" class="btn btn-rounded btn-outline-danger">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h6><b>Detail Data</b></h6>
                </div>
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="form-control" id="selectDate" readonly />
                    </div>
                </div>

                <div class="row">
                    <table id="tableMain" class="table w-100">
                        <thead class="text-center"></thead>
                        <tbody class="text-center"></tbody>
                    </table>
                </div>

                <div class="row justify-content-end">
                    <button type="button" id="btnConfirm" class="btn btn-rounded btn-outline-dark col-1">Confirm</button>
                </div>

                <div class="row mt-4">
                    <h6><b>Import Data</b></h6>
                    @* <div class="input-group">
                        <label class="input-group-text " for="inpFile" >Import File : </label> *@
                        <input type="file" accept=".xlsx,.xls" class="form-control col-10 me-2" id="inpFile" placeholder="Import Excel File" />
                        <button type="button" id="btnImport" class="btn btn-rounded btn-outline-dark col-1">Import</button>
                    @*     <div class="col"></div>
                
                    </div> *@
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/assets/.script/Master/KBNMS008.js?@ViewData["Version"]"></script>
}