@model TB_MS_Remark_DocSheet;

<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row">
                    <table id="tableMain" class="table table-bordered border-2 border-dark w-100"></table>
                </div>

                <form id="formMain">
                    
                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_Dock_Cd"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_Dock_Cd">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <span class="text-danger">Remark : Dock Code ไม่เลือกออกหมด</span>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic1"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic1">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark1"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark1"/>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic2"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic2">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark2"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark2" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic3"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic3">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark3"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark3" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic4"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic4">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark4"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark4" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic5"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic5">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark5"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark5" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic6"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic6">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark6"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark6" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic7"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic7">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark7"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark7" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic8"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic8">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark8"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark8" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic9"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic9">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark9"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark9" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic10"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic10">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark10"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark10" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic11"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic11">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark11"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark11" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic12"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic12">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark12"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark12" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic13"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic13">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark13"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark13" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic14"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic14">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark14"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark14" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic15"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic15">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark15"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark15" />
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <div class="input-group">
                                <label class="input-group-text col-4" asp-for="F_short_Logistic16"></label>
                                <select class="selectpicker p-0 col-6" asp-for="F_short_Logistic16">
                                    <option value="" hidden></option>
                                </select>
                            </div>

                        </div>

                        <div class="col-6">

                            <div class="input-group">
                                <label class="input-group-text col-2" asp-for="F_Remark16"></label>
                                <input type="text" class="form-control col-10" asp-for="F_Remark16" />
                            </div>

                        </div>

                    </div>

                </form>


            </div>
        </div>
    </div>

</div>

@using HINOSystem.Models.KB3.Master
@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS028.js")"></script>
}
