
<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                    <form class="mb-4" id="formMain">

                        <div class="row">
                            <div class="col ms-3">
                                <input class="form-check-input" type="radio" id="rdoMain" name="radioBtn"/>
                                <label class="form-label fw-bolder" for="rdoMain">Detail Part</label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-4">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Supplier_Code">Supplier Code : </label>
                                <select class="selectpicker p-0 col-8" id="F_Supplier_Code" name="F_Supplier_Code" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Supplier_Code_Rd">Supplier Code : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Supplier_Code_Rd" name="F_Supplier_Code_Rd" readonly />
                                </div>

                            </div>

                            <div class="col-3">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Cycle">Cycle : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Cycle" name="F_Cycle" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4 invisible">
                            </div>
                    
                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Supplier_Code_Rd">Supplier Name : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Supplier_Name" name="F_Supplier_Name" readonly />
                                </div>

                            </div>

                        </div>
                        
                        <div class="row">

                            <div class="col-4">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Kanban_No">Kanban No : </label>
                                <select class="selectpicker p-0 col-8" id="F_Kanban_No" name="F_Kanban_No" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-3">

                                <div class="input-group">
                                    <label class="input-group-text col-5" for="F_Kanban_No_Rd">Kanban No : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Kanban_No_Rd" name="F_Kanban_No_Rd" readonly />
                                </div>

                            </div>
                            
                            <div class="col-3">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Qty">Box Q'ty' : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Qty" name="F_Qty" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Store_Cd">Store Code : </label>
                                <select class="selectpicker p-0 col-8" id="F_Store_Cd" name="F_Store_Cd" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Store_Cd_Rd">Store Code : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Store_Cd_Rd" name="F_Store_Cd_Rd" readonly />

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Part_No">Part No : </label>
                                <select class="selectpicker p-0 col-8" id="F_Part_No" name="F_Part_No" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Part_No_Rd">Part No : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Part_No_Rd" name="F_Part_No_Rd" readonly />

                                </div>

                            </div>

                        </div>
                        
                        <div class="row">

                            <div class="d-flex justify-content-center col-4">
                                <button type="button" class="btn btn-outline-danger col-4" id="btnExit">Exit</button>
                                <button type="button" class="btn btn-outline-dark col-4" id="btnSearch">Search</button>
                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Part_Name">Part Name : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Part_Name" name="F_Part_Name" readonly />

                                </div>

                            </div>

                        </div>

                        <div class="row mt-4">

                            <div class="col ms-3">
                                <input class="form-check-input" type="radio" id="rdoMain2" name="radioBtn" />
                                <label class="form-label fw-bolder" for="rdoMain2">Detail Part</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Supplier_Code2">Supplier Code : </label>
                                <select class="selectpicker p-0 col-8" id="F_Supplier_Code2" name="F_Supplier_Code2" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Supplier_Code_Rd2">Supplier Code : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Supplier_Code_Rd2" name="F_Supplier_Code_Rd2" readonly />
                                </div>

                            </div>

                            <div class="col-3">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Cycle2">Cycle : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Cycle2" name="F_Cycle2" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4 invisible">
                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Supplier_Name2">Supplier Name : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Supplier_Name2" name="F_Supplier_Name2" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4">

                                <div class="input-group">
                                    <label class="input-group-text col-4" for="F_Store_Cd2">Store Code : </label>
                                <select class="selectpicker p-0 col-8" id="F_Store_Cd2" name="F_Store_Cd2" data-live-search="true" data-size="6">
                                        <option value="" hidden></option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-5">

                                <div class="input-group">
                                    <label class="input-group-text col-3" for="F_Store_Cd_Rd2">Store Code : </label>
                                <input type="text" value="" class="form-control col-8" id="F_Store_Cd_Rd2" name="F_Store_Cd_Rd2" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="d-flex justify-content-center col-4">
                                <button type="button" class="btn btn-outline-danger col-4" id="btnExit2">Exit</button>
                                <button type="button" class="btn btn-outline-dark col-4" id="btnSearch2">Search</button>
                            </div>

                        </div>

                    </form>

                    <div class="row mt-2 mb-4">
                        <table id="tableMain" class="table table-bordered border-2 border-dark w-100"></table>
                    </div>

                    <div class="row mt-2 justify-content-start">

                        <div class="d-flex justify-content-end col-12">
                        <button type="button" class="btn btn-warning btn-rounded col-1" id="btnEdit" disabled>Edit</button>
                        <button type="button" class="btn btn-success btn-rounded col-1" id="btnSave" disabled>Save</button>
                            <button type="button" class="btn btn-danger btn-rounded col-1" id="btnCancel" disabled>Cancel</button>
                        <button type="button" class="btn btn-primary btn-rounded col-1" id="btnReport" disabled>Report</button>
                        </div>

                    </div>



            </div>
        </div>
    </div>

</div>



@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS012.js")"></script>
}