<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\HINOSystem.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.web>
		<authentication mode="Windows" />
	</system.web>
	<location path="AD">
		<system.web>
			<authorization>
				<allow users="THI_DM_1\20234111" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="https://warranty.hinommt.com/Login/HIno" responseMode="Redirect" />
		</httpErrors>
	</system.webServer>
</configuration>
<!--ProjectGuid: 8784d92f-56c9-4035-807d-312469983f54-->