<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Template : HINO Warranty Claim [Approve]</title>
</head>
<body>
    <div>Dear Sir,</div>
    <br />
    <div>&emsp;&emsp;Quality Assurance Department would like to send you about “Warranty Claim Notification (Draft) of June 2022”. </div>
    <br />
    <div>1.Please check and fill the following error codes for deleting within 20 June 2022.</div>
    <div>2.If in doubt about anything, please directly contract Mr.QA Samrong. </div>
    <div>3.If not reply as due date, it will be judged supplier accepts for all items. </div>
    <br />
    <div>For detail please enter </div>
    <div>Hino Warranty Claim System via link <a href="{#URL#}">Hino Warranty Claim System</a></div>
    <br />
    <div>Thank you for your good cooperation.</div><br />
    <div>
        <table>
            <tr>
                <td rowspan="2">
                    <img src="http://warranty.hinommt.com/assets/img/hino_logo.jpg" height="45" />
                </td>
                <td style="margin-left:10px">
                    Quality Assurance Department
                </td>
            </tr>
            <tr>
                <td style="margin-left:10px">
                    Hino Motors Manufacturing (Thailand) Ltd.
                </td>
            </tr>
        </table>

    </div>
</body>
</html>







